<?php

/**
 * Default error page.
 * @package Nette\Diagnostics
 */



?>
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name=robots content=noindex><meta name=generator content="Nette Framework">
<style>body{color:#333;background:white;width:520px;margin:100px auto}h1{font:bold 47px/1.5 sans-serif;margin:.6em 0}p{font:21px/1.5 Georgia,serif;margin:1.5em 0}small{font-size:70%;color:gray}</style>

<title>Stránka není dostupná</title>

<h1>Stránka není dostupná</h1>

<p>Omlouváme se, ale požadovaná stránka není momentálně dostupná. Zkuste to, prosím, později.</p>

<p><small>myteamworld.com</small></p>
