
/******************************

  RESPONSIVE COLUMN SYSTEM

******************************/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 710px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.container:after,
.row:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.colSmall,
.colBig {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .colSmall,
  .colBig {
    float: left;
  }
  .colSmall {
    width: 190px;
  }
  .colBig{
    width: 490px;
  }
}
@media (min-width: 992px) {
  .colSmall,
  .colBig {
    float: left;
  }
  .colSmall {
    width: 190px;
  }
  .colBig {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .colSmall,
  .colBig {
    float: left;
  }
  .colSmall {
    width: 210px;
  }
  .colBig {
    width: 660px;
  }
}
@media (max-width: 991px) {
  .sidebar.right.colSmall {
    display: none;
  }
}
@media (max-width: 767px) {
  .colBig {
    clear: both;
  }
  .sidebar.right.colSmall {
    display: block;
  }
}

/* visible & hidden helper class
  - .visible-xs
  - .visible-sm
  - .visible-md
  - .visible-lg
  - .hidden-xs
  - .hidden-sm
  - .hidden-md
  - .hidden-lg
*/
.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xxs-block,
.visible-xxs-inline,
.visible-xxs-inline-block,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 479px) {
  .visible-xxs {
    display: block !important;
  }
  table.visible-xxs {
    display: table;
  }
  tr.visible-xxs {
    display: table-row !important;
  }
  th.visible-xxs,
  td.visible-xxs {
    display: table-cell !important;
  }
}
@media (max-width: 479px) {
  .visible-xxs-block {
    display: block !important;
  }
}
@media (max-width: 479px) {
  .visible-xxs-inline {
    display: inline !important;
  }
}
@media (max-width: 479px) {
  .visible-xxs-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 479px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}


/****************************************************************************/

html {
  width: 100%;
}

body {
  background: #ccc0a9 url('../images/bg.png');
  color: #212121;
  font: 0.75em "Open Sans", Arial, Tahoma, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
} 
.msie-8 body,
.msie-7 body,
.msie-6 body {
  font: 0.75em Arial, Tahoma, Helvetica, sans-serif;
}

body#main {
  color: #573a00;
  margin: 0;
  padding: 0;
}


/*** DEFAULT CSS ***/
* {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em;
  color: #212121;
  /*color: #0f1;*/
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 120%;
}
h4 {
  font-size: 112%;
}
h5 {
  font-size: 107%;
}
h6 {
  font-size: 100%;
}

p {
  margin: 0 0 1em;
}
p.perex {
  font-size: 107%;
}

a {
  color: #3a2606;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

form {
  margin: 0;
}
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

img {
  border: 0;
  display: block;
  /*margin-bottom: -3px;*/
}

.cleaned {
  =height: 1%;
}
.cleaned:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clear {
  clear: both;
}

.forBlind {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: -10000px;
  width: 1px;
}
.hide {
  display: none;
}

.entries {
  position: relative;
}

input,
select,
textarea {
  color: #212121;
  border: none;
  font-size: 12px;
}
input,
select,
textarea {
  margin: 0;
  background: #f0ede6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Open Sans", Arial;
}
input.text,
textarea {
  padding: 3px 5px;
}
select {
  padding: 2px;
}

/* pokud je v .entries vic prvku a nektere uz jsou validni*/
.entries.error input.valid,
.entries.error textarea.valid,
.entries.error select.valid {
  background: #f0ede6 !important;
  border: none !important;
  padding: 3px 5px !important;
}
.entries.error select.valid {
  padding: 2px !important;
}

label {
  line-height: 2em;
}

ul,ol {
  margin: 0 0 1em 0;
  padding: 0 0 0 10px;
}
ul li {
  background: url('../images/icon-b.png') no-repeat -3000px 6px;
  list-style: none;
}
ul li {
  margin: 0 0 0.25em 0;
  padding: 0 0 0 12px;
}
ol li {
  margin: 0 0 0.25em 14px;
  padding: 0;
}


/**********************************************************

   ERROR

**********************************************************/
/* pouziva se pokud je v .entries pouze jeden prvek a je to ve fancyboxu*/
.fancybox-inner .entries.error input,
.fancybox-inner .entries.error textarea,
.fancybox-inner .entries.error select {
  background: #ffebeb;
  border: 1px solid #d32b2b;
  padding: 4px;
}
.fancybox-inner .entries.error select {
  padding: 4px;
}

/* pouziva se pokud je v .entries vice prvku a je to ve fancyboxu */
.fancybox-inner .entries.errors input.error,
.fancybox-inner .entries.errors textarea.error,
.fancybox-inner .entries.errors select.error {
  background: #ffebeb;
  border: 1px solid #d32b2b;
  padding: 4px;
}
.fancybox-inner .entries.errors select.error {
  padding: 3px;
}


.entries.error input,
.entries.error textarea,
.entries.error select {
  background: #ffebeb;
  border: 1px solid #d32b2b;
  padding: 2px 4px;
}
.entries.error select {
  padding: 1px;
}


.errorMsg {
  position: absolute;
  right: 0;
  top: 5px;
  color: #d32b2b;
  display: none;
}


.backLink {
  text-align: right;
  margin: 0;
}


/**********************************************************

   BUTTON

**********************************************************/
.button,
button {
  display: inline-block;
  margin: 0;
  padding: 5px 14px;
  border: none;
  font-family: 'Open Sans', Arial;
  font-size: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
}
.button:hover {
  text-decoration: none;
}


/*** buttonA ***/
.buttonA {
  background: #462f00;
  padding: 4px 15px;
  color: #ffffff !important;
  border-top: 1px solid #352400;
  border-right: 1px solid #2e1f00;
  border-bottom: 1px solid #221700;
  border-left: 1px solid #2e1f00;
  position: relative;
}
.webkit .buttonA,
.opera .buttonA,
.msie .buttonA {
 line-height: 19px; /* tam kde jsou bordery z vrchu nebo zespodu, je potreba pridat 2px - chrome, opera, IE */
}
.buttonA:after {
  content: '';
  position: absolute;
  top: 0;
  left: 4px;
  right: 4px;
  background: #5b3d00;
  height: 1px;
}
.buttonA:hover {
  background-color: #563a00;
}


/*** buttonB ***/
.buttonB {
  background: #f2efe8;
  color: #ba923f !important;
  font-weight: bold;
  position: relative;
}
.buttonB:hover {
  background-color: #ffffff;
  color: #212121 !important;
}


/*** buttonC ***/
.buttonC {
  background: #e7e2d5;
  color: #212121 !important;
  font-weight: bold;
}
.buttonC:hover {
  background-color: #f0ede5 !important;
}


/*** small ***/
.button.small,
button.small {
 padding: 2px 8px;
}
.webkit .buttonA.small,
.opera .buttonA.small,
.msie .buttonA.small {
 line-height: 19px; /* tam kde jsou bordery z vrchu nebo zespodu, je potreba pridat 2px - chrome, opera, IE */
}



/*** TODO pouzito pro uvodku, udelat hover pro vsechny buttony ***/
body#main .button {
    padding: 0 7px;
}
.mozilla body#main .button {
    padding: 0 5px;
}
body#main .buttonA {
    height: 23px;
    line-height: 18px;
}
body#main #bottom .button {
    background: #392600 url('../images/bg-button-main.png') repeat-x 0 0;
    padding: 0;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #392600;
    color: #ffffff;
}
body#main #bottom .button:hover,
body#main #bottom .column:hover .button {
    background: #aa8844 url('../images/bg-button-main.png') repeat-x 0 -20px;
    color: #392600;
    border: 1px solid #7a5c21;
}



/*** 
  BOX CONTROLS - NEWS
  TABLE CONTROLS - EVENTS
***/
.table .controlsBox {
  position: relative;
}

.box .controls,
.table .controls {
  display: none;
}
.box:hover .controls {
  display: block;
  position: absolute;
  bottom: 10px;
  right: -24px;
}
.table tr:hover .controls {
  display: block;
  position: absolute;
  bottom: 2px;
  right: -33px;
}
.table tr:hover .controls.left {
  left: -33px;
  right: auto;
}

.box .controls .deleteBig,
.box .controls .editBig,
.table .controls .deleteBig,
.table .controls .editBig,
.table .controls .editResult,
.table .controls .checkBig {
  margin: 4px 0 0 0;
  padding: 0;
  width: 38px;
  height: 25px;
  border: 1px solid #f0ece6;
  display: block;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.box .controls .deleteBig,
.table .controls .deleteBig {
  background: #d2c8b5 url('../images/icon-a.png') no-repeat 9px -797px;
}
.box .controls .editBig,
.table .controls .editBig {
  background: #d2c8b5 url('../images/icon-a.png') no-repeat 14px -1545px; 
}
.table .controls .editResult {
  background: #d2c8b5 url('../images/icon-a.png') no-repeat 10px -847px; 
}
.table .controls .checkBig {
  background: #d2c8b5 url('../images/icon-a.png') no-repeat 12px -3493px;
}

/* hover */
.box .controls .deleteBig:hover,
.box .controls .editBig:hover,
.table .controls .deleteBig:hover,
.table .controls .editBig:hover,
.table .controls .editResult:hover,
.table .controls .checkBig:hover {
  background-color: #c5baa5;
}

/* two */
.table tr .controls.two {
  border: 1px solid #f0ece6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
}
.table .controls.two .editBig,
.table .controls.two .editResult,
.table .controls.two .checkBig {
  float: left;
  margin: 0;
  width: 28px;
  height: 25px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.table .controls.two .editBig {
  background-position: 10px -1545px; 
}
.table .controls.two .editResult {
  background-position: 6px -847px;
}
.table .controls.two .checkBig {
  background-position: 8px -3493px;
}


/*** VIEW MORE BUTTON ***/
.viewMore {
  text-align: right;
  margin: 2em 0 1em;
}
.viewMore a {
  display: inline-block;
  color: #212121;
  margin: 0 8px 0 0;
  padding: 0 0 1px 12px;
  font-size: 92%;
  line-height: 1em;
  position: relative;
}
.viewMore a:after {
  content: '...';
  position: absolute;
  bottom: 1px;
  left: 0;
  color: #b6892c;
}
.viewMore a:hover {
  text-decoration: none !important;
  border-bottom: 1px solid #3a2606;
  padding: 0 0 0 12px;
}


/**********************************************************

  ICON

**********************************************************/
.icon {
  background-image: url('../images/icon-a.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 18px;
}

.icon.add {
  background-position: 0 -1642px;
}
.button.icon.add {
  background-position: 14px -1642px;
  padding-left: 32px;
}

.icon.edit {
  background-position: 0 -1542px;
}
.button.icon.edit {
  background-position: 10px -1542px;
  padding-left: 24px;
}

.icon.becameFan {
  background-position: 0 -1446px;
}
.button.icon.becameFan {
  background-position: 10px -1446px;
  padding-left: 32px;
}

.icon.removeFan {
  background-position: 0 -1746px;
}
.button.icon.removeFan {
  background-position: 10px -1746px;
  padding-left: 32px;
}

.icon.becameObserver {
  background-position: 0 -1846px;
}
.button.icon.becameObserver {
  background-position: 10px -1846px;
  padding-left: 32px;
}

.icon.removeObserver {
  background-position: 0 -1946px;
}
.button.icon.removeObserver {
  background-position: 10px -1946px;
  padding-left: 32px;
}

.icon.sendTeamMessage {
  background-position: 0 -1346px;
}
.button.icon.sendTeamMessage {
  background-position: 10px -1346px;
  padding-left: 32px;
}

.icon.friendlyMatch {
  background-position: 0 -1246px;
}
.button.icon.friendlyMatch {
  background-position: 10px -1246px;
  padding-left: 32px;
}

.icon.sendMessage {
  background-position: 0 -1346px;
}
.button.icon.sendMessage {
  background-position: 10px -1346px;
  padding-left: 32px;
}

.icon.teamEdit {
  background-position: 0 -2046px;
}
.button.icon.teamEdit {
  background-position: 10px -2046px;
  padding-left: 32px;
}

.icon.confirm {
  background-position: 0 -2046px;
}
.button.icon.confirm {
  background-position: 15px -2143px;
  padding-left: 34px;
}

.icon.invite {
  background-position: 0 -2996px;
}
.button.icon.invite {
  background-position: 10px -2996px;
  padding-left: 34px;
}

.icon.leave {
  background-position: 0 -3596px;
}
.button.icon.leave {
  background-position: 10px -3596px;
  padding-left: 34px;
}

.icon.comment {
  background-position: 0 -3796px;
}
.button.icon.comment {
  background-position: 10px -3796px;
  padding-left: 34px;
}

.icon.confirmSmall {
  background-position: 0 -3896px;
}
.button.icon.confirmSmall {
  background-position: 10px -3896px;
  padding-left: 34px;
}

.icon.cancelSmall {
  background-position: 0 -3996px;
}
.button.icon.cancelSmall {
  background-position: 10px -3996px;
  padding-left: 34px;
}

.icon.warningSmall {
  background-position: 0 -4096px;
}
.button.icon.warningSmall {
  background-position: 10px -4096px;
  padding-left: 34px;
}

.icon.calendarSmall {
  background-position: 0 -4196px;
}
.button.icon.calendarSmall {
  background-position: 10px -4196px;
  padding-left: 34px;
}

.icon.move {
  background-position: 0 -4296px;
}
.button.icon.move {
  background-position: 10px -4296px;
  padding-left: 34px;
}

.icon.star {
  background-position: 0 -4396px;
}
.button.icon.star {
  background-position: 10px -4396px;
  padding-left: 34px;
}

.icon.starBorder {
  background-position: 0 -4496px;
}
.button.icon.starBorder {
  background-position: 10px -4496px;
  padding-left: 34px;
}


/**********************************************************

  MSG - WARNING / ERROR / DONE

**********************************************************/
.msg {
  background: #d5cbb8;
  background: rgba(255, 255, 255, 0.15);
  padding: 7px 10px;
  width: auto;
  margin: 0 0 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: relative;
}
#contentA .contentAbox .msg {
  background: none;
}
.msg .title {
  margin: 0 0 4px !important;
  font-size: 100%;
}
.msg .text {
  margin: 0;
}
.msg ul {
  margin: 2px 0 0 10px;
  padding: 0;
}

.msg.noMarginBottom {
  margin-bottom: 0 !important;
}
.msg.noMarginLeft {
  margin-left: 0 !important;
}

/*** WARNING ***/
.msg.warning {
}
.msg.warning .title {
    color: #3a2700;
}
.msg.warning.icon {
  padding: 19px 20px 17px 45px;
  position: relative;
}
.msg.warning.icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -10px;
  width: 19px;
  height: 19px;
  background: url('../images/ico-info-small.png') no-repeat 0 0;
}
.contentAbox .msg.warning,
.fancybox-popup .msg.warning {
  background: url('../images/ico-info-small.png') no-repeat 0 50% !important;
  margin-left: 8px;
  margin-bottom: 22px;
  padding-left: 27px;
}

/*** ERROR ***/
.msg.error {
  background: url('../images/error-content-module-bg.png') repeat 0 0 !important;
  color: #880000 !important;
}
.msg.error .title {
  color: #880000;
}

/*** DONE ***/
.msg.done {
  background: url('../images/done-content-module-bg.png') repeat 0 0 !important;
  color: #006e05 !important;
}
.msg.done .title {
  color: #006e05;
}


/*** CLOSE ***/
.msg .close {
  background: url('../images/msg-close.png') no-repeat 0 0; 
  display: block;
  width: 10px;
  height: 11px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* img */
.msg.warning .close { 
}
.msg.error .close {
  background-position: 0 -22px; 
}
.msg.done .close {
  background-position: 0 -11px; 
}

/* hover */
.msg .close:hover { 
  cursor: pointer;
}
.msg.warning .close:hover { 
  background-position: -10px 0;
}
.msg.error .close:hover {
  background-position: -10px -22px; 
}
.msg.done .close:hover {
  background-position: -10px -11px; 
}


/********** HOMEPAGE **********/
body#main .warning,
body#main .done {
  width: 284px;
  margin: 0 auto 10px;
  padding: 7px 10px;
  color: #ffffff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
body#main .warning {
  background: #b86262;
  border: 1px solid #8f2f2f;
  color: #680707;
}
body#main .warning a {
  color: #db8d8d;
  font-size: 92%
}
body#main .done {
  background: #74b862;
  border: 1px solid #33832d;
  color: #065300;
}
body#main .done a {
  color: #eeeeee;
}
body#main .warning .text,
body#main .done .text {
  margin: 0 0 0.25em;
}
body#main .warning .lastText,
body#main .done .lastText {
  margin: 0;
}