
.centered {
  position: relative;
  margin: 0 auto;
  width: 1100px;
}

/**********************************************************

  MAIN - HOME PAGE

**********************************************************/
body#main #mainHp {
    background: #ffffff url('../images/content-homepage-bg.jpg') no-repeat 50% 0;
    margin-top: 40px;
}
body#main #mainHp .title {
    color: #715f3a;
    font-size: 200%;
    margin: 40px auto 30px;
    text-align: center;
    top: 45px;
    width: auto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.025em;
}
body#main #mainHp #content {
    padding-bottom: 50px;
}

/*** LOGIN & REGISTRATION ***/
body#main #login,
body#main #registration {
    background: #573a00;
    border: 1px solid #392600;
    margin: 0 auto 18px;
    padding: 5px 0 8px 10px;
    width: 292px;
    color: #ffffff;
    font-size: 92%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
body#main #login label {
    display: inline-block;
    margin: 0 0 3px;
    line-height: 1.4em;
}
body#main #login .text,
body#main #registration .text {
    background: #ffffff;
    color: #000000;
    font-size: 112%;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    width: 90px;
}
body#main #login .entries {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
    width: 100px;
}
body#main #login .entries.first {
    margin: 0 15px 0 0;
}
body#main #login .button {
    margin: 18px 0 0;
    =padding: 0;
}
.mozilla body#main #login .button {
    margin: 19px 0 0;
}

/*** REGISTRATION ***/
body#main #registration {  
    margin: 0 auto;
    padding: 12px 0 10px 10px;
    position: relative;
}
body#main #registration:after {
    background: url('../images/registration-bg.png') no-repeat 0 0;
    display: block;
    width: 305px;
    height: 17px;
    position: absolute;
    left: -1px;
    bottom: -31px;
    content: "";
}
body#main #registration .text {
    width: 156px;
}
body#main #registration label {
    display: block;
    float: left;
    margin-top: 3px;
    width: 115px;
    line-height: 1.4em;
}
body#main #registration select {
    background: #ffffff;
    width: 166px;
    height: 22px;
}
body#main #registration .entries {
    margin: 0 0 10px;
}
body#main #registration .entries.submit {
    margin: 0;
    padding: 2px 0 0 0;
}
body#main #registration .agreement {
    display: inline-block;
    margin: 5px 0 0 0;
    color: #d2c09e;
    font-size: 10px;
}
body#main #registration .entries.submit .button {
    float: right;
    margin: 0 10px 0 0;
}
.msie-7 body#main #registration .entries.submit .button {
    width: 80px;
    margin: -18px 10px 0 0;
}


/* autocomplete */
body#main #registration .selectOne ul.holder,
body#main #registration ul.holder li.bit-input input {
    background: #ffffff;
}
body#main #registration .facebook-auto {
  right: 10px;
}
body#main #registration ul.holder li.bit-box {
  max-width: 141px;
  text-overflow: ellipsis;
  overflow: hidden;
}
body#main #registration ul.holder li.bit-box a.closebutton {
  right: 5px;
}


/*** BOTTOM ***/
body#main #bottom {
    border-top: 1px solid #c4b497;
}
body#main #bottom .button {
    display: block;
}
body#main #bottom .column {
    border-top: 2px solid #eae1d1;
    float: left;
    margin: 18px 0 0 67px;
    width: 180px;
    position: relative;
}
body#main #bottom .column:hover {
    border-top: 2px solid #7a5c21;
}
body#main #bottom .column:first-child {
    margin: 18px 0 0 0;
}
body#main #bottom .column.first:after,
body#main #bottom .column.second:after,
body#main #bottom .column.third:after,
body#main #bottom .column.fourth:after,
body#main #bottom .column.fifth:after {
    content: '1';
    background: url('../images/bottom-step.png') no-repeat 0 0;
    width: 36px;
    height: 70px;
    position: absolute;
    top: 35px;
    right: -53px;
    font-size: 22px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    color: #b4a280;
}
body#main #bottom .column.second:after {
    content: '2';
}

body#main #bottom .column.third:after {
    content: '3';
}
body#main #bottom .column.fourth:after {
    content: '4';
}
body#main #bottom .column.fifth:after {
    content: '5';
    display: none;
}
body#main #bottom .name {
    color: #392600;
    font-size: 112%;
    margin: 8px 0 10px 0;
}
body#main #bottom .text {
    color: #1b1b1b;
    margin: 0 0 15px;
    font-size: 103%;
    line-height: 1.35em;
    text-align: justify;
}

/*** FOOTER ***/
body#main #pageFooter {
  margin-top: 70px;
}
body#main #pageFooter .container {
  border-top: 1px solid #eae1d1;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  body#main #bottom .column {
    margin-left: 30px;
    width: 170px;
  }
  body#main #bottom .column.first .text {
    margin-bottom: 32px;
  }
  body#main #bottom .column.first:after,
  body#main #bottom .column.second:after,
  body#main #bottom .column.third:after,
  body#main #bottom .column.fourth:after {
    display: none;
  }
}
@media (max-width: 991px) {
  body#main #bottom .column {
    margin-left: 100px;
    width: 180px;
  }
  body#main #bottom .column.first .text {
    margin-bottom: 15px;
  }
  body#main #bottom .column.fourth {
    margin-left: 140px;
  }
  body#main #bottom .column.fourth,
  body#main #bottom .column.fifth {
    margin-top: 30px;
  }
  body#main #bottom .column.first:after,
  body#main #bottom .column.second:after,
  body#main #bottom .column.third:after,
  body#main #bottom .column.fourth:after {
    display: block;
    right: -68px;
  }
  body#main #bottom .column.third:after {
    display: none;
  }
  body#main #bottom .column.fourth:after,
  body#main #bottom .column.fifth:after {
    content: '3';
    right: auto;
    left: -68px;
  }
  body#main #bottom .column.fifth:after {
    content: '4';
    display: block
  }
  body#main #pageFooter {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  body#main #bottom {
    text-align: center;
  }
  body#main #bottom .column,
  body#main #bottom .column:first-child,
  body#main #bottom .column.fourth {
    float: none;
    display: inline-block;
    margin: 18px 18px 0 18px;
  }
  body#main #bottom .column.first:after,
  body#main #bottom .column.second:after,
  body#main #bottom .column.third:after,
  body#main #bottom .column.fourth:after,
  body#main #bottom .column.fifth:after {
    display: none;
  }
}


/************************************************************
  
  TOP

************************************************************/
/*** MENU ***/
#secondMenu {
  float: right;
  font-size: 125%;
  font-weight: bold;
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.88);
}
#secondMenu li {
  background: none;
  float: left;
  height: 15px;
  margin-left: 30px;
  position: relative;
}
#secondMenu li a {
  color: #897449;
}
#secondMenu li a:hover {
  color: #ab8945;
  text-decoration: none;
}


/************************************************************
  
  HEADER

************************************************************/
#pageHeader {
  background: #3c2800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px solid #211600;
  z-index: 10;
}
#pageHeader .container {
  height: 50px;
  position: relative;
}

/*** LOGO ***/
#logo {
  float: left;
  width: 210px;
  margin: 10px 0 0 0;
}
#logo a {
  display: block;
}

/*** USER ***/
#user {
  float: right;
  width: 210px;
  margin: 9px 0 0 0;
}

#user .left {
  float: left;
  width: 32px;
}
#user .picture {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
}
#user .picture img {
  border: 1px solid #211600;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#user .right {
  float: right;
  width: 160px;
  padding: 0 10px 0 0;
  position: relative;
}
#user .right .name,
#user .right .team {
  color: #f1eadb;
  margin: 0;
  font-weight: normal;
  line-height: 16px;
  height: 16px;
  width: 145px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#user .right .name {
  font-size: 100%;
}
#user .right .team {
  font-size: 100%;
}
#user .right .name a,
#user .right .team a {
  color: #f1eadb;
}

#user .right .moreOptions {
  position: absolute;
  top: 50%;
  right: 0;
  margin: -10px 0 0 0;
  padding: 0;
  font-size: 117%;
}
#user .right .moreOptions:before {
  content: '';
  position: absolute;
  top: 9px;
  right: 7px;
  width: 0; 
  height: 0; 
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #f1eadb;
}
#user .right .moreOptions > li {
  background: none;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  position: relative;
}

/* hover */
#user .right .moreOptions > li:hover {
  height: 36px;
  width: 100px;
}
#user .right .moreOptions:hover:before {
  border-top: 3px solid #ba9f68;
}
#user .right .moreOptions > li:hover:after {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 15px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #211600;
}


/* DROPDOWN hodne podobny jak v #mainMenu */
#user .right .moreOptions > li > ul {
  position: absolute;
  top: -200px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  background: #3c2800;
  font-size: 92%;
  overflow: hidden;
}
#user .right .moreOptions > li > ul li {
  background: none;
  margin: 0;
  padding: 0;
  min-width: 120px;
}
#user .right .moreOptions > li > ul li a {
  display: block;
  padding: 6px 8px 7px;
  border-top: 1px solid #211600;
  color: #f1eadb;
  white-space: nowrap;
}
#user .right .moreOptions > li > ul li a.switchTeam {
  padding: 7px 8px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#user .right .moreOptions > li > ul li:first-child a {
  border-top: none;
  -webkit-box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
  -moz-box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
  box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
}

/* hover */
#user .right .moreOptions > li:hover > ul {
  top: 100%;
  width: 210px;
  height: auto;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#user .right .moreOptions > li > ul li a:hover {
  background: #332200;
  color: #ba9f68;
  text-decoration: none;
}


/*** TEAMS ***/
#user .right .moreOptions > li > ul li .switchTeam {
  line-height: 25px;
}
#user .right .moreOptions > li > ul li .switchTeam img {
  display: inline-block;
  margin-right: 3px;
  border: 1px solid #211600;
  vertical-align: middle;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #logo {
    width: 41px;
    overflow: hidden;
  }
  #user {
    width: 190px;
  }
  #user .right {
    width: 140px;
  }
  #user .right .name,
  #user .right .team {
    width: 125px;
  }

  /* hover */
  #user .right .moreOptions > li:hover > ul {
    width: 190px;
  }
}
@media (max-width: 991px) {
  #user {
    width: 170px;
  }
  #user .right {
    width: 120px;
  }
  #user .right .name,
  #user .right .team {
    width: 110px;
  }

  /* hover */
  #user .right .moreOptions > li:hover > ul {
    width: 170px;
  }
}
@media (max-width: 767px) {
  #user .right .moreOptions.showDropdown:before {
    border-top-color: #ba9f68;
  }
  #user .right .moreOptions > li:hover,
  #user .right .moreOptions.showDropdown > li {
    height: 31px;
  }
  #user .right .moreOptions:hover {
    cursor: pointer;
  }
  #user .right .moreOptions > li:hover:after {
    display: none;
  }
  #user .right .moreOptions.showDropdown > li:hover:after,
  #user .right .moreOptions.showDropdown > li > ul {
    display: block;
    right: 4px;
  }

  #user .right .moreOptions > li > ul {
    display: none;
  }
  #user .right .moreOptions.showDropdown > li > ul {
    position: fixed;
    top: 41px;
    width: auto;
    height: auto;
    right: 0;
    left: 0;
  }
  #user .right .moreOptions > li > ul li a.switchTeam {
    padding: 4px 8px 5px 8px;
  }
  #user .right .moreOptions.scroll > li > ul {
    bottom: 0;
    overflow-y: scroll;
  }

}
@media (max-width: 479px) {
  #user .right .name,
  #user .right .team {
    width: 95px;
  }
  #user .right .name {
    margin: 0;
  }
}


/**********************************************************

  MAIN MENU

**********************************************************/
nav {
  float: left;
  width: 620px;
  margin: 15px 0 0 50px;
}

#mainMenu {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 117%;
}
#mainMenu > li {
  float: left;
  background: none;
  margin: 0 0 0 42px;
  padding: 0;
  line-height: 20px;
  color: #f1eadb;
  position: relative;
}
#mainMenu > li:first-child {
  margin: 0;
}
#mainMenu > li > a {
  color: #f1eadb;
}
#mainMenu > li.search > a {
  padding-left: 24px;
  background: url('../images/icon-a.png') no-repeat 0 -2248px;
}

#mainMenu > li.open {
  padding-right: 14px;
}
#mainMenu > li.open:before {
  content: '';
  position: absolute;
  top: 9px;
  right: 0;
  width: 0; 
  height: 0; 
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #f1eadb;
}

/* hover */
#mainMenu > li > a:hover {
  color: #ba9f68;
  text-decoration: none;
}
#mainMenu > li.open:hover {
  padding-bottom: 16px;
  color: #ba9f68;
  cursor: default;
}
#mainMenu > li.open:hover:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 18px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #211600;
}
#mainMenu > li.open:hover:before {
  border-top: 3px solid #ba9f68;
}
#mainMenu > li.search > a:hover {
  background-position: 0 -2298px;
}

/* selected */
#mainMenu > li.selected > a {
  color: #ba9f68;
}


/*** DROPDOWN hodne podobny jak v #user .moreOptions ***/
#mainMenu > li > ul {
  position: absolute;
  top: -200px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  background: #3c2800;
  font-size: 92%;
  overflow: hidden;
}
#mainMenu > li > ul li {
  background: none;
  margin: 0;
  padding: 0;
  min-width: 120px;
}
#mainMenu > li > ul li a {
  display: block;
  padding: 6px 15px 7px;
  border-top: 1px solid #211600;
  color: #f1eadb;
  white-space: nowrap;
}
#mainMenu > li > ul li:first-child a {
  border-top: none;
  -webkit-box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
  -moz-box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
  box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
}

/* hover */
#mainMenu > li:hover > ul {
  top: 100%;
  width: auto;
  height: auto;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#mainMenu > li > ul li a:hover {
  background: #332200;
  color: #ba9f68;
  text-decoration: none;
}

/* selected */
#mainMenu > li > ul li.selected a {
  color: #ba9f68;
}


/*** NOTIFICATION ***/
#notification {
  float: right;
  margin: 1px 0 0 0;
  padding: 0;
}
#notification li {
  background: none;
  margin: 0 0 0 15px;
  padding: 0;
  display: inline-block;
}
#notification li:first-child {
  margin: 0;
}
#notification li a {
  display: block;
  width: 17px;
  height: 17px;
  background: url('../images/icon-a.png') no-repeat 0 -4700px;
  position: relative;
}
#notification li a .count {
  display: none;
}

#notification .messages {
  background-position: 0 -4700px;
}
#notification .notification {
  background-position: 0 -4849px;
}

/* new style */
#notification .messages.new {
  background-position: 0 -4800px;
}
#notification .notification.new {
  background-position: 0 -4949px;
}

#notification .messages.new .count,
#notification .notification.new .count {
  display: block;
  position: absolute;
  top: -3px;
  right: -4px;
  min-width: 12px;
  height: 12px;
  line-height: 10px;
  text-align: center;
  background: #bf212f;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.mozilla #notification .messages.new .count {
  padding-right: 1px;
  min-width: 11px;
}
.webkit #notification .messages.new .count,
.webkit #notification .notification.new .count {
  padding-right: 1px;
  min-width: 11px;
  font-weight: normal;
}


#notification .messages:hover {
  background-position: 0 -4750px;
}
#notification .notification:hover {
  background-position: 0 -4899px;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  nav {
    width: 620px;
    margin: 15px 0 0 49px;
  }
}
@media (max-width: 991px) {
  nav {
    width: 440px;
    margin: 15px 0 0 29px;
  }
  #mainMenu > li {
    margin: 0 0 0 32px;
  }
  #mainMenu > li.search > a {
    padding-left: 17px;
  }
}
@media (max-width: 767px) {
  #mainMenu {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    background: #3c2800;
    padding: 0;
    font-size: 107%;
    -webkit-box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
    -moz-box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
    box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
  }
  #mainMenu.showDropdown {
    display: block;
  }

  #mainMenu .search {
    display: none;
  }
  #mainMenu > li {
    margin: 0;
    float: none;
    display: block;
  }

  #mainMenu > li.open {
    padding: 8px 15px;
    border-top: 1px solid #211600;
  }
  #mainMenu > li.open:before {
    right: 15px;
    top: 18px;
  }
  #mainMenu > li > a {
    display: block;
    padding: 8px 15px;
  }

  /* dropdown */
  #mainMenu > li > ul {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    display: none;
    margin: 0 -15px;
    font-size: 100%;
  }
  #mainMenu > li.showDropdown {
    padding-bottom: 0;
    background: #332200;
  }
  #mainMenu > li.showDropdown > ul {
    display: block;
    background: #332200;
  }
  #mainMenu > li.showDropdown span {
    display: block;
    margin-bottom: 6px;
    color: #ba9f68;
  }
  #mainMenu > li.open.showDropdown:before {
    border-bottom: 3px solid #ba9f68;
    border-top: none;
  }
  #mainMenu > li > ul li:first-child a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #mainMenu > li > ul li a {
    border-top: none;
    position: relative;
    padding: 8px 15px 8px 26px;
  }
  #mainMenu > li > ul li a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 15px;
    margin-top: -2px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #f1eadb;
  }


  /* hover */
  #mainMenu a:hover {
    color: #ba9f68 !important;
  }
  #mainMenu > li.open:hover {
    padding-bottom: 8px;
    cursor: pointer;
  }
  #mainMenu > li.open.showDropdown:hover {
    padding-bottom: 0;
  }
  #mainMenu > li.open:hover:after {
    display: none;
  }
   #mainMenu > li > ul li a:hover:before {
    border-left-color: #ba9f68;
  }

  /* selected */
  #mainMenu > li.selected > a {
    color: #f1eadb;
  }
}

/* kontrola vysky viewportu a pridani scrollu */
@media (max-height: 362px) and (max-width: 767px) {
  #mainMenu {
    position: fixed;
    bottom: 0;
    overflow-y: scroll;
  }
}


/**********************************************************

  MOBILE NAVIGATION

**********************************************************/
#toggleMobileSearch {
  display: none;
}
#toggleMobileMenu {
  display: none;
}

@media (max-width: 767px) {
  #toggleMobileSearch,
  #toggleMobileMenu {
    display: block;
    float: left;
  }
  #toggleMobileSearch {
    background: url('../images/icon-a.png') no-repeat 4px -2246px;
    width: 25px;
    height: 25px;
  }
  #toggleMobileSearch:hover {
    background-position: 4px -2296px;
  }
  #toggleMobileMenu {
    background: url('../images/icon-a.png') no-repeat 1px -5096px;
    width: 25px;
    height: 25px;
    margin-left: 30px;
  }
  #toggleMobileMenu:hover,
  #toggleMobileMenu.active {
    background-position: 1px -5146px;
  }

  #pageHeader {
    height: 40px;
  }
  #pageHeader .container {
    height: 40px;
  }

  #logo {
    width: 33px;
    margin: 8px 0 0 0;
  }
  #logo img {
    width: auto;
    height: 26px;
  }

  nav {
    width: auto;
    margin: 8px 0 0 29px;
  }

  #notification {
    float: left;
    margin: 4px 0 0 30px;
  }
  #notification li {
    margin: 0 0 0 30px;
  }

  #user {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 0 0 0;
    width: 168px;
  }
}


@media (max-width: 479px) {
  #toggleMobileMenu {
    margin-left: 15px;
  }

  nav {
    width: auto;
    margin: 8px 0 0 14px;
  }

  #notification {
    margin: 4px 0 0 15px;
  }
  #notification li {
    margin: 0 0 0 15px;
  }

  #user {
    width: 112px;
  }
  #user .left {
    display: none;
  }
  #user .right {
    float: none;
    width: auto;
    padding: 0;
  }
}


/************************************************************

  MAIN SEARCH

************************************************************/
#mainSearchOverlay {
  position: absolute;
  top: 0;
  right: 350px;
  bottom: 0;
  left: 275px;
  background: #3c2800;
}
#mainSearch {
  padding-top: 12px;
  width: 325px;
  position: relative;
}
#mainSearch .selectOne ul.holder {
  padding: 4px 0;
}
#mainSearch .close {
  position: absolute;
  top: 20px;
  right: 0;
  width: 10px;
  height: 10px;
  background: url('../images/icon-a.png') no-repeat 0 -5000px;
}
#mainSearch .close:hover {
  background-position: 0 -5050px;
}

/* autocomplete */
#mainSearch .holder .maininput {
  padding: 0 8px;
  min-width: 284px;
  overflow: hidden;
}
#mainSearch .facebook-auto {
  top: 51px;
  margin: 0;
  padding: 0;
  background: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#mainSearch .facebook-auto:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 15px;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #211600;
}
#mainSearch .facebook-auto ul {
  background: #3c2800;
  padding: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
#mainSearch .facebook-auto ul li {
  background: #3c2800;
  margin: 0;
  padding: 8px 15px;
  border-top: 1px solid #211600;
  font-size:  12px;
  color: #f1eadb;
}
#mainSearch .facebook-auto ul li:first-child {
  border-top: none;
  -webkit-box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
  -moz-box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
  box-shadow: inset 0px 5px 3px -3px rgba(0,0,0,0.33);
}
#mainSearch .facebook-auto ul li:hover,
#mainSearch .facebook-auto ul li.auto-focus {
  background: #332200;
  color: #ba9f68;
}
#mainSearch .facebook-auto ul li em {
  color: #ba9f68;
}


/* placeholder color */
#mainSearch .text::-webkit-input-placeholder,
#mainSearch .maininput::-webkit-input-placeholder {
    color: #593b00;
    opacity: 1;
}
#mainSearch .text::-moz-placeholder,
#mainSearch .maininput::-moz-placeholder {
    color: #593b00;
    opacity: 1;
}
#mainSearch .text:-moz-placeholder,
#mainSearch .maininput:-moz-placeholder {
    color: #593b00;
    opacity: 1;
}
#mainSearch .text:-ms-input-placeholder,
#mainSearch .maininput:-ms-input-placeholder {
    color: #593b00;
    opacity: 1;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #mainSearchOverlay {
    left: 105px;
    right: 320px;
  }
}
@media (max-width: 991px) {
  #mainSearchOverlay {
    left: 85px;
    right: 280px;
  }
}
@media (max-width: 767px) {
  #mainSearchOverlay {
    left: 75px;
  }
  #mainSearch {
    padding-top: 7px;
    width: 208px;
  }

  #mainSearch .close {
    top: 16px;
  }
  #mainSearch .facebook-auto {
    top: 41px;
  }
  #mainSearch .facebook-auto,
  #mainSearch .facebook-auto ul {
    width: 250px !important;
  }
  #mainSearch .selectOne ul.holder {
    width: 185px !important;
  }
  #mainSearch .holder .maininput {
    min-width: 169px;
  }
}
@media (max-width: 479px) {
  #mainSearchOverlay {
    left: 60px;
  }
  #mainSearch {
    width: 142px;
    background: #3c2800;
  }

   #mainSearch .facebook-auto,
   #mainSearch .facebook-auto ul {
    width: 220px !important;
  }
  #mainSearch .selectOne ul.holder {
    width: 125px !important;
  }
  #mainSearch .holder .maininput {
    min-width: 109px;
  }
}


/**********************************************************

  TEAM MENU

**********************************************************/
#teamMenu {
  background: #d5cbb8;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 31px;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
}
#teamMenu ul {
  margin: 0 12px;
  padding: 0;
  list-style: none;
  height: 31px;
}
#teamMenu li {
  background: none;
  float: left;
  margin: 0 0 0 40px;
  padding: 0;
  text-align: center;
}
#teamMenu li:first-child {
  margin: 0;
}

#teamMenu li a {
  color: #212121;
  margin: 0;
  padding: 8px 0 2px;
  height: 21px;
  text-transform: uppercase;
  display: block;
}
#teamMenu li a:hover {
  
}

#teamMenu li.selected {
}
#teamMenu li.selected a {
  color: #b6892c;
}
#teamMenu li.selected a:hover {
  color: #b6892c;
  text-decoration: none;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #teamMenu li {
    margin: 0 0 0 15px;
  }
}
@media (max-width: 991px) {
  #teamMenu li {
    margin: 0 0 0 13px;
  }
}
@media (max-width: 767px) {
  #teamMenu li {
    margin: 0 0 0 28px;
  }
}
@media (max-width: 599px) {
  #teamMenu {
    font-size: 88%;
  }
  #teamMenu li {
    margin: 0 0 0 14px;
  }
}
@media (max-width: 479px) {
  #teamMenu,
  #teamMenu ul {
    height: auto;
    text-align: center;
  }
  #teamMenu ul {
    margin: 0;
    padding-top: 10px;
  }
  #teamMenu li,
  #teamMenu li:first-child {
    float: none;
    display: inline-block;
    margin: -8px 8px 0 8px;
  }
  #teamMenu li a {
    height: auto;
    padding: 8px 4px;
  }
}

/**********************************************************

  CONTENT

**********************************************************/
#main {
  padding-top: 85px;
}


@media (max-width: 767px) {
  #main {
    padding-top: 60px;
  }
}

@media (max-width: 991px) {
  /* kvuli pozicovani pomoci JS absolutne */
  #main > .container {
    position: relative;
  }
}


/**********************************************************

  contentA

**********************************************************/
#contentA {
  padding: 0 10px;
  /*min-height: 820px;*/
}
#wall #contentA,
#press-releases #contentA {
  padding: 0 20px;
}

#contentA .contentAbox {
  background: #d5cbb8;
  background: rgba(255, 255, 255, 0.15);
  margin: 0 0 20px;
  padding: 12px 10px 10px;
  width: auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.contentAbox a {
  color: #917336;
}
#contentA .headline {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.6);
  font-size: 130%;
  margin: 0 0 15px;
  padding: 4px 8px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/*** TEXT PAGE ***/
#contentA.text .contentAbox {
  padding: 12px 18px 10px;
}
#contentA.text .headline {
  margin: 0 -8px 14px;
}
#contentA.text .title {
  border-bottom: 1px solid #ffffff;
  padding: 0 0 0.15em 0;
  margin: 1.5em 0 0.75em;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #contentA {
    padding: 0;
  }
  #wall #contentA,
  #press-releases #contentA {
    padding: 0 10px;
  }
}
@media (max-width: 991px) {
  
}
@media (max-width: 767px) {
  #wall #contentA,
  #press-releases #contentA {
    padding: 0;
  }
}
@media (max-width: 479px) {
  
}


/************************************************************

  SIDE COLUMN

************************************************************/
.sidebar {
  position: relative;
}
.sidebar,
.sidebar a {
  color: #212121;
}

.sidebar .content {
  background: #f6f2ea;
  margin: 0 0 20px;
  padding: 12px;
  border: 1px solid #b49f76;
  border-top: none;
  position: relative;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.sidebar .blockTitle {
  margin: 0;
  padding: 9px 12px 7px 12px;
  background: #3c2800;
  border: 1px solid #211600;
  border-bottom: none;
  color: #e3d8bf;
  font-size: 117%;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  line-height: 1em;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  .sidebar .content {
    padding: 10px;
  }
  .sidebar .blockTitle {
    padding: 9px 10px 7px 10px;
  }
}
@media (max-width: 991px) {
  
}
@media (max-width: 767px) {
  
}

/*** FIXED ***/
.fixedBlock.fixed {
  position: fixed;
  top: 85px;
  width: 210px;
}
.fixedBlock.stop {
  position: absolute;
  bottom: -18px; /* margin z .sidebar .content */
  width: 210px;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  .fixedBlock.fixed {
    width: 190px;
  }
  .fixedBlock.stop {
    width: 190px;
  }
}


/********** POLL **********/
#poll a {
  color: #392600;
}
#poll .text {
  margin: 0 0 15px;
}
#poll img {
  float: left;
  height: 5px;
  margin-top: 6px;
  position: relative;
}
#poll .option {
  color: #392600;
  font-size: 11px;
  margin: 0 0 15px;
}
#poll .option a {
  color: #392600;
}
#poll .count {
  margin: 0;
  text-align: right;
  font-size: 85%;
}
#poll .result {
  display: block;
  margin-top: 2px;
  text-align: right;
}

/********** RECOMMEND **********/
#recommend {
}
#recommend .text {
  margin: 0;
}
#recommend form {
  margin: 10px 0 0 0;
}
#recommend input.text {
  background: #ffffff;
  border: 1px solid #5e4107;
  color: #593b00;
  float: left;
  height: 22px;
  line-height: 22px;
  margin: 0;
  padding: 0 5px;
  width: 105px;
}
.webkit #recommend input.text {
  line-height: 23px;
}

/* placeholder color */
#recommend .text::-webkit-input-placeholder {
    color: #cab58b;
    opacity: 1;
}
#recommend .text::-moz-placeholder {
    color: #cab58b;
    opacity: 1;
}
#recommend .text:-moz-placeholder {
    color: #cab58b;
    opacity: 1;
}
#recommend .text:-ms-input-placeholder {
    color: #cab58b;
    opacity: 1;
}

#recommend .button {
  float: right;
}
.msie-7 #recommend .button {
  width: 47px;
}

#recommend .msg {
  display: none;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #recommend input.text {
    width: 90px;
  }
}
@media (max-width: 991px) {
  #recommend input.text {
    width: 90px;
  }
}
@media (max-width: 767px) {
  #recommend {
    display: none;
  }
}


/********** TEAM REGISTRATION **********/
#teamRegistration {
}
#teamRegistration .link {
  margin: 0;
}


/********** NEXT EVENTS **********/
#nextEvents {

}
#nextEvents .content {
  padding-bottom: 0;
  text-align: right;
}
#nextEvents .title {
  background-position: 0 10px;
  background-repeat: no-repeat;
  height: 20px;
  line-height: 16px;
  margin: 0;
  padding: 0 0 0 22px;
  text-align: left;
  font-size: 107%;
}
#nextEvents .text {
  margin: -2px 0 2px;
  font-size: 87%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#nextEvents .training {
  background: url('../images/icon-a.png') no-repeat 0 -950px;
}
#nextEvents .match {
  background: url('../images/icon-a.png') no-repeat 0 -1050px;
}
#nextEvents .task {
  background: url('../images/icon-a.png') no-repeat 0 -1150px;
}
#nextEvents .answer {
  color: #ba9f68;
  margin: 0 0 11px;
  font-size: 87%;
}
#nextEvents .answer a {
  color: #ba9f68;
}

/*** RESPONSIVE ***/
@media (max-width: 767px) {
  #nextEvents {
    display: none;
  }
}


/********** ADVERTISING **********/

#ag .aBox {
  background: url('../images/hr.png') no-repeat 0 0;
  margin: 15px 0 0 0;
  padding: 14px 0 0 0;
}
#ag .aBox:first-child {
  background: none;
  margin: 0;
  padding: 0;
}
#ag .title {
  margin: 0 0 8px;
  font-size: 117%;
}
#ag .aBox:first-child .title {
  margin-top: -3px;
}
#ag .img {
  margin: 0 0 12px;
  width: 182px;
  height: 78px;
  border: 1px solid #5e4107;
  display: block;
  overflow: hidden;
}
#ag .text {
  margin: 0;
}
#ag .text a {
  color: #212121;
  font-weight: normal;
}

#ag .links {
  margin: -10px 0 18px 0;
  padding: 0 8px 0 0;
  text-align: right;
  font-size: 92%;
}
#ag .links .item {
  background: none;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0;
}
#ag .links .item:first-child {
  margin: 0;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #ag .img {
    width: 166px;
    height: auto;
  }
  #ag .img img {
    width: 166px;
  }
}
@media (max-width: 991px) {
  #ag .img {
    width: 166px;
    height: auto;
  }
  #ag .img img {
    width: 166px;
  }
}
@media (max-width: 767px) {
  #ag {
    margin-bottom: -20px;
    padding-top: 20px;
  }
  #ag .aBox {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    background: none;
    display: none;
  }
  #ag .aBox:first-child,
  #ag .aBox:nth-child(2) {
    display: block;
  }
  #ag .aBox .title {
    margin-top: 0;
  }
  #ag .aBox .text {
    padding: 0 75px 0 0;
  }
}
@media (max-width: 560px) {
  #ag .aBox .text {
    padding: 0 25px 0 0;
  }
}
@media (max-width: 450px) {
  #ag .aBox {
    display: none !important;
    width: 100%;
  }
  #ag .aBox:first-child {
    display: block !important;
  }
  #ag .aBox .text {
    padding: 0 25px 0 0;
  }
}


/********** TEAM INFO **********/
#teamInfo .head {
  margin: 0 0 10px 0;
}
#teamInfo .name,
#teamInfo .sport {
  margin: 0;
  float: right;
  width: 148px;
  height: 16px;
  font-size: 115%;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#teamInfo .logo {
  float: left;
  margin: 0;
  padding: 0;
  border: 1px solid #402a00;
  width: 28px;
  height: 28px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
#teamInfo .sport {
  height: 14px;
  font-size: 100%;
  line-height: 14px;
  color: #ba9f68;
}

/* TEAM PHOTO */
#teamInfo .teamPhoto {
  margin: 0 0 10px 0;
  border: 1px solid #402a00;
  width: 182px;
  max-height: 135px;
  overflow: hidden;
}
#teamInfo .teamPhoto a {
  display: block;
}

/* TEAM LEAGUE */
#teamInfo .leagueInfo {
  margin: 0;
}
#teamInfo .leagueInfo a {
  color: #ba9f68;
}

/* TEAM CITY */
#teamInfo .teamCity {
  margin: 10px 0 0 0;
}

/* TEAM STATS */
#teamInfo .teamStats {
  background: url('../images/hr.png') no-repeat 0 0;
  margin: 12px 0 0 0;
  padding: 12px 0 0 0;
}
#teamInfo .teamStats span {
  float: right;
  color: #472f00;
}

/* TEAM ADMIN */
#teamInfo .teamAdmin {
  background: url('../images/hr.png') no-repeat 0 0;
  margin: 12px 0 0 0;
  padding: 12px 0 0 0;
}
#teamInfo .teamAdmin li {
  background: none;
  margin: 0;
  padding: 0;
}
#teamInfo .teamAdmin li a {
  padding: 3px 0 3px 24px;
  color: #212121;
  display: block;
}
#teamInfo .teamAdmin li a:hover {
  text-decoration: none;
  background-color: #e7e2d5;
}
#teamInfo .teamAdmin li span {
  float: right;
  color: #a10400;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #teamInfo .name,
  #teamInfo .sport {
    width: 133px;
  }
  #teamInfo .teamPhoto {
    width: 166px;
    max-height: 130px;
  }
  #teamInfo .teamPhoto img {
    width: 166px;
  }
}
@media (max-width: 991px) {
  #teamInfo .name,
  #teamInfo .sport {
    width: 132px;
  }
  #teamInfo .teamPhoto {
    width: 166px;
    max-height: 128px;
  }
  #teamInfo .teamPhoto img {
    width: 166px;
  }
}
@media (max-width: 767px) {
  #teamInfo {
    float: left;
    width: 190px;
  }

  #teamInfo .blockTitle {
    display: none;
  }
  #teamInfo .content {
    border-top: 1px solid #b49f76;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }

  #teamInfo .teamAdmin {
    margin: 6px 0 -3px 0;
    padding: 0;
    background: none;
  }
  #teamInfo .teamPhoto,
  #teamInfo .leagueInfo,
  #teamInfo .teamCity,
  #teamInfo .teamStats {
    display: none;
  }
  #teamInfo .head {
    margin-bottom: 0;
  }
}
@media (max-width: 450px) {
  #teamInfo {
    float: none;
    width: 100%;
  }

   #teamInfo .teamAdmin {
    margin: 6px 0 -5px 0;
    padding: 0;
    background: none;
  }

  #teamInfo .head {
    position: relative;
  }
  #teamInfo .name,
  #teamInfo .sport {
    float: none;
    padding-left: 38px;
    display: block;
  }
  #teamInfo .logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* tlacitko na zobrazeni dalsich moznosti k tymu - #teamOptions */
  #teamInfo #toggleTeamOptions {
    position: absolute;
    top: 20px;
    right: 32px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #212121;
    cursor: pointer;
  }
  #teamInfo #toggleTeamOptions.active {
    border-top: none;
    border-bottom: 8px solid #212121;
  }
}



/********** TEAM OPTIONS **********/
#teamOptions .content {
  padding: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #b49f76;
}
#teamOptions .options {
  margin: 0;
  padding: 0;
}
#teamOptions .options li {
  background: none;
  margin: 0;
  padding: 0;
}
#teamOptions .options li a {
  padding: 3px 0 3px 24px;
  color: #212121;
  display: block;
}
#teamOptions .options li a:hover {
  text-decoration: none;
  background-color: #e7e2d5;
}
#teamOptions .options li span {
  float: right;
  color: #a10400;
}

@media (max-width: 767px) {
  #teamOptions {
    float: right;
    max-width: 205px;
  }
  #teamOptions .content {
    padding: 5px 10px 6px;
  }
}

@media (max-width: 450px) {
  #teamOptions {
    /*float: left;
    max-width: inherit;
    width: 100%;*/
    /*position: absolute;
    top: 6px;
    right: 22px;*/
    float: none;
    max-width: inherit;
    margin-top: -15px;
    display: none;
  }
  #teamOptions .content {
    /*padding: 0;
    border: none;
    background: none;*/
  }
}



/********** LAST MATCH **********/
#lastMatch a {
  color: #392600;
}
#lastMatch .content {
  position: relative;
}
#lastMatch .team-1,
#lastMatch .team-2 {
  width: 72px;
  text-align: center;
}
#lastMatch .team-1 {
  float: left;
}
#lastMatch .team-2 {
  float: right;
}

#lastMatch .logo {
  display: inline-block;
}
#lastMatch .name {
  color: #212121;
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0 0 0;
  max-height: 35px;
  overflow: hidden;
}
#lastMatch .name a {
  color: #212121;
}

#lastMatch .result {
  font-size: 130%;
  text-align: center;
  position: absolute;
  right: 72px;
  top: 27px;
  width: 64px;
  line-height: 1em;
}
#lastMatch .result span {
  color: #ba9f68;
  font-size: 70%;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #lastMatch .team-1,
  #lastMatch .team-2 {
    width: 66px;
  }
  #lastMatch .result {
    right: 66px;
    width: 56px;
  }
}
@media (max-width: 991px) {
  #lastMatch .team-1,
  #lastMatch .team-2 {
    width: 62px;
  }
  #lastMatch .result {
    right: 66px;
    width: 58px;
  }
}
@media (max-width: 767px) {
  #lastMatch {
    display: none;
  }
}


/************************************************************

  MENU

************************************************************/
#navigation {
  
}
#navigation ul {
  margin: 0;
  padding: 0;
}
#navigation ul li {
  background: none;
  margin: 0.25em 0 0 0;
  padding: 0;
}
#navigation ul li:first-child {
  margin: 0;
}


/************************************************************
  
  FOOTER

************************************************************/
#pageFooter {
  font-size: 11px;
  margin: 60px 0 0;
  color: #573a00;
  font-size: 92%;
  color: #3a2606;
}
#pageFooter .container {
  padding-top: 8px;
  padding-bottom: 30px;
  border-top: 1px solid #3a2606;
}
#pageFooter .text {
  float: left;
  margin: 0;
  width: 350px;
}
#pageFooter .links {
  float: right;
  margin: 0;
  padding: 0;
}
#pageFooter .links li {
  background: none;
  float: left;
  margin: 0 0 0 25px;
  padding: 0;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {

}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
  #pageFooter {
    margin: 40px 0 0 0;
  }
  #pageFooter .container {
    padding-bottom: 8px;
  }
  #pageFooter .text {
    float: none;
    width: 100%;
  }
  #pageFooter .links {
    float: none;
    margin-top: 5px;
  }
  #pageFooter .links li {
    margin: 0 18px 0 0;
  }
}


/************************************************************

  NAVIGATION & TABS

************************************************************/
.navigation {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.6);
  color: #3a2606;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 4px 8px 3px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.navigation ul {
  margin: 0;
  padding: 0;
}
.navigation li {
  background: none;
  margin: 0 0 0 23px;
  padding: 0;
  display: inline-block;
  list-style: none;
}
.msie-7 .navigation,
.msie-6 .navigation {
  height: 20px;
}
.msie-7 .navigation li,
.msie-6 .navigation li {
  display: block;
  /*width: 170px;*/
  float: left;
}
.navigation li.first {
  margin-left: 0;
}
.navigation a {
  color: #bbae8f !important;
}
.navigation a:hover {
  text-decoration: none;
  color: #ac915a !important;
}
.navigation .current {
  color: #212121 !important;
  text-decoration: none;
}
.navigation .current:hover {
  color: #212121 !important;
}

.tabs .innerBox {
  padding: 0 10px;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  .navigation li {
    font-size: 92%;
    margin: 0 0 0 15px;
  }
  .navigation li.first {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  
}
@media (max-width: 767px) {
  .navigation li {
    font-size: 82%;
    margin: 0 0 0 12px;
  }
  .navigation li.first {
    margin-left: 0;
  }
}
@media (max-width: 479px) {
  .navigation li {
    font-size: 85%;
  }
}


/************************************************************

  TITLE BORDER

************************************************************/
.title-noborder {
  margin: 17px 0 15px 0;
}
.title-border {
  border-top: 1px solid #f0ece7;
  padding-top: 15px;
  margin: 15px 0 15px 0;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  
}
@media (max-width: 991px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 479px) {
  .title-noborder {
    margin: 17px 0 12px 0;
  }
  .title-border {
    margin: 15px 0 12px 0;
  }
}


/************************************************************

  MY COMMENT

************************************************************/
.myComment {
  margin: 15px auto 2px;
  padding: 0;
  width: 560px;
}
.myComment textarea {
  float: left;
  background: #e7e2d5;
  width: 426px;
  height: 16px;
  margin: 0 5px 0 0;
  padding: 5px 7px 4px;
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 100%;
  line-height: 17px;
  color: #bcae90;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  resize: none;
  overflow: hidden;
}
.msie-8 .myComment textarea,
.msie-7 .myComment textarea {
  font-family: Arial, sans-serif;
}
.myComment textarea.active,
.myComment textarea.wasActive {
  color: #212121;
  height: auto;
}
.myComment textarea.active {
  height: 28px;
}
.myComment .button {
  float: left;
}
.msie-7 .myComment .button {
  width: 54px;
}

/*** TEAM PROFILE ***/
#team-profile .myComment {
  width: 580px;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  .myComment {
    width: 424px;
  }
  #team-profile .myComment {
    width: 444px;
  }
  .myComment textarea {
    width: 320px;
  }
}
@media (max-width: 991px) {
  .myComment {
    width: 414px;
  }
  #team-profile .myComment {
    width: 434px;
  }
  .myComment textarea {
    width: 310px;
  }
}
@media (max-width: 767px) {
  .myComment,
  #team-profile .myComment {
    margin: 10px 0;
  }
}
@media (max-width: 479px) {
  .myComment,
  #team-profile .myComment {
    width: auto;
    padding-right: 75px;
    position: relative;
  }
  .myComment textarea {
    width: 100%;
  }
  .myComment .button {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 3px;
    padding-left: 3px;
  }
}


/************************************************************

  TOOLTIP

************************************************************/
.help {
  background: url('../images/bg-help-tooltip.png') no-repeat 5px 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.help:hover {
  background-position: -45px 50%;
}
.tooltip {
  display: none;
  background: #ba9f68;
  border: 1px solid #917336;
  max-width: 125px;
  padding: 3px 6px;
  color: #422e07;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.tooltip:after {
  content: '';
  background: url('../images/icon-a.png') no-repeat 50% -2900px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 0 -10px 0;
  height: 10px;
  display: block;
}
.tooltip.big {
  max-width: 200px;
}

.help.noIcon {
  background: none;
  width: auto;
  height: auto;
  position: relative;
}
.help.noIcon:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  border-top: 1px dotted #917336;
}
.help.noIcon:hover:after {
  display: none;
}

.help.textWithIcon {
  background: none;
  width: auto;
  height: auto;
  position: relative;
  padding-left: 20px;
}
.help.textWithIcon:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 20px;
  height: 1px;
  border-top: 1px dotted #917336;
}
.help.textWithIcon:hover:after {
  display: none;
}
.help.textWithIcon:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url('../images/bg-help-tooltip.png') no-repeat 5px 50%;
}
.help.textWithIcon:hover:before {
  background-position: -45px 50%;
}

.tooltip a {
  color: #3a2606 !important;
}
.tooltip.users {
  font-weight: normal;
}
.tooltip.users .more {
  display: inline-block;
  margin: 2px 0;
  font-weight: normal;
  color: #917336 !important;
}


/************************************************************

  AUTOCOMPLETE

************************************************************/
.autocomplete {
  background: #f0ede6;
  margin: 3px 0 0 0;
  padding: 2px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden
}
.autocomplete div {
  padding: 1px 0;
}
.autocomplete div:hover,
.autocomplete .autocomplete-selected {
  background: #f0ede6;
  color: #ac915a;
  cursor: pointer;
}


/**********************************************************

   SIMPLY POPUP FORM

**********************************************************/
.popUpForm {
  position: relative;
  padding: 0 0 10px;
}

.popUpForm legend {
  font-size: 107%;
  font-weight: bold;
  padding: 0 0 10px 0;
}
.popUpForm fieldset.group {
  margin: 15px 0 0 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #d1c4a8;
}
.popUpForm fieldset.group.first {
  margin: 0;
}

.popUpForm .entries {
  margin: 15px 0 0 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #d1c4a8;
}
.popUpForm .entries .checkboxBox {
  display: inline-block;
  margin: 0 15px 0 0;
}
.popUpForm .entries.submit {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.popUpForm .entries.first {
  margin: 0;
}
.popUpForm .entries.last {
  padding: 0 0 5px 0;
  border-bottom: none;
}
.popUpForm .group .entries {
  margin: 5px 0 0 0;
  padding: 0;
  border-bottom: none;
}

.popUpForm label,
.popUpForm .label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 107%;
  font-weight: bold;
}
.popUpForm .label {
  margin: 0 0 8px 0;
  display: block;
  color: #392600;
}
.popUpForm input,
.popUpForm select,
.popUpForm textarea {
  background: #f2f0ea;
  width: 510px;
  padding: 5px;
  color: #392600;
}
.popUpForm select {
  padding: 4px;
}
.popUpForm textarea {
  resize: none;
}
.popUpForm input.checkbox {
  width: 13px;
  margin-right: 5px;
  vertical-align: middle;
}
.popUpForm label.checkbox {
  font-weight: normal;
  font-size: 100%;
  line-height: 1.25em;
  margin: 0;
  vertical-align: middle;
}

.popUpForm .submit {
  position: absolute;
  bottom: -24px;
  right: 0;
}
.popUpForm .submit button {
  background: none;
  border: none;
  padding: 0;
  height: 24px;
  line-height: 24px;
  font-size: 112%;
  font-weight: bold;
  color: #392600;
  font-family: "Open Sans", Arial;
  cursor: pointer;
}
.popUpForm .submit button:hover {
  text-decoration: underline;
}
.popUpForm .submit button.disabled {
  color: #755d2e;
  cursor: default;
}
.popUpForm .submit button.disabled:hover {
  text-decoration: none;
}


/************************************************************

  FILTER

************************************************************/
.smallFilter .inner {
  float: right;
  background: #d5cbb8 url('../images/content-module-bg.png') repeat;
  margin: 0 0 20px;
  padding: 0 15px 6px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.filter .filterButton,
.smallFilter .filterButton {
  float: right;
  border-left: 2px solid #96793f;
  margin: 7px 0 0;
  padding: 0 0 2px 6px;
  font-size: 85%;
  font-weight: bold;
  display: block;
  cursor: pointer;
  color: #3a2606;
}
.smallFilter .filterButton {
  float: none;
  border-left: none;
  padding: 0 0 2px 0;
}

.filter.box {
  margin: 0 0 30px !important;
  padding: 10px 12px !important;
}
.filter {
  /*color: #3e2900;*/
  display: none;
}

.filter fieldset.last {
  border-top: 1px solid #ffffff;
  margin: 15px 0 0 0;
  padding-top: 8px;
}
.filter .title {
  border-bottom: 1px solid #ffffff;
  margin: 0 0 5px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 100%;
  font-weight: bold;
}

.filter .list {
  margin: 0 0 14px;
  padding: 0;
}
.filter .list.teamNews {
  margin: 0;
}
.filter .item {
  background: none;
  float: left;
  width: 144px;
  padding: 0;
  margin: 0 0 2px;
}
.filter input {
  margin: 0 5px 0 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: middle;
}
.filter label {
  vertical-align: middle;
}

.filter .searchAll {
  width: 200px;
  float: left;
}
.filter .searchButton {
  width: 200px;
  float: right;
  text-align: right;
}


/************************************************************

  SCROLL TOP

************************************************************/
#scrollTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
#scrollTop a {
  background: url('../images/scrollTop.png') no-repeat 0 0;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#scrollTop a:hover {
  background-position: 100% 0;
}


/************************************************************

  NOTICE

************************************************************/
#notificationsAlert {
  position: fixed;
  bottom: 25px;
  left: 25px;
}
#notificationsAlert .notificationAlert {
  background: #ffffff url('../images/content-module-title-bg.png') repeat 0 0;
  max-width: 180px;
  max-height: 45px;
  margin: 12px 0 0 0;
  padding: 6px 12px 10px;
  color: #212121;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
#notificationsAlert .notificationAlert a {
  font-weight: bold;
  color: #212121;
}



/************************************************************

  CONFIRM

************************************************************/

#confirmOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../images/fancybox_overlay.png');
  z-index: 100000;
}

.confirm-skin {
  position: fixed;
  width: 420px;
  padding: 10px;
  left: 50%;
  top: 50%;
  margin: -140px 0 0 -220px;
  background: url('../images/fancybox-skin-bg.png') repeat 0 0;
  color: #444444;
  text-shadow: none;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.confirm-container {
  background: #e7e2d5 url('../images/fancybox-inner-bg.png') repeat-x 0 100%;
  border: 1px solid #b49f76;
  margin: 0 0 0 -1px; /*FIX border*/
  padding: 10px 10px 25px;
  position: relative;
  color: #392600;
  text-shadow: none;
  overflow: hidden;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

#confirmBox .title {
  margin: -10px -10px 20px -10px;
  padding: 8px 50px 6px 10px;
  background: #483000;
  text-transform: uppercase;
  font-size: 150%;
  font-weight: bold;
  color: #c4b38f;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#confirmBox .text {
  margin: 0 0 30px 0;
}

#confirmButtons {
  margin: 0 0 15px 0;
  padding: 0;
  text-align: right;
}

#confirmBox .button {
  margin-left: 12px;
}


/************************************************************

  LOADING MORE NEWS

************************************************************/
#loading {
  background: url('../images/loading.gif') no-repeat 50% 0;
  height: 15px;
  display: block;
}


/************************************************************

  BROWSER WARNING

************************************************************/
#browserWarning {
  background: url('../images/error-content-module-bg.png') repeat 0 0;
  color: #880000 !important;
  padding: 6px 0;
  text-align: center;
}


/************************************************************

  FEEDBACK

************************************************************/
#socialBox {
  position: fixed;
  bottom: 15%;
  right: 1px;
  margin-bottom: 115px;
}

/*** facebook ***/
#socialBox .facebook {
  background: #f6f2ea url('../images/icon-a.png') no-repeat 100% -5194px;
  width: 28px;
  height: 20px;
  padding: 7px 0;
  border: 1px solid #b49f76;
  border-right: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
}
#socialBox .facebook .wrap {
  position: absolute;
  right: -2px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* hover */
#socialBox .facebook:hover {
  width: 200px;
  padding-left: 7px;
}
#socialBox .facebook:hover .wrap {
  position: static;
  width: auto;
  height: auto;
}


/*** RESPONSIVE ***/
@media (max-width: 599px) {
  #socialBox {
    display: none;
  }
}


/************************************************************

  FEEDBACK

************************************************************/
#feedback {
  position: fixed;
  bottom: 15%;
  right: 1px;
}
#feedback a {
  display: block;
  width: 28px;
  height: 98px;
  background: url('../images/feedback-button.png') no-repeat 0 0;
}

.webkit #feddbackPopup {
  height: 360px;
}
#feddbackPopup .headline {
  color: #392600;
  font-size: 107%;
}

#feddbackPopup .list li {
  background: url('../images/done-content-module-bg.png') repeat 0 0;
  color: #006e05;
  margin: 0 0 4px 0;
  padding: 4px 40px 4px 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
#feddbackPopup .list.error li {
  background: url('../images/error-content-module-bg.png') repeat 0 0;
  color: #880000;
}
#feddbackPopup .list li .progress {
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 82%;
}

#feddbackPopup .bigTitle {
  color: #392600;
  font-size: 125%;
  margin: 25px 0 0 0;
}

#feddbackPopup .screenshot {
  width: 400px;
}


/*** RESPONSIVE ***/
@media (max-width: 599px) {
  #feedback {
    display: none;
  }
}


/************************************************************

  DATAPICKER

************************************************************/
/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: sans-serif; font-size: 12px; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #392600; background: #ccc0a9; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #332100; background: #322100; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #553900; background: #f9f9f9; font-weight: normal; color: #000000; width: 20px;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #000000; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #392600; background: #baab8f; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #392600; background: #392600; font-weight: normal; color: #c4b38f; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #c4b38f; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #ba923f; color: #ba923f; }
.ui-state-highlight.ui-state-hover, .ui-widget-content .ui-state-highlight.ui-state-hover, .ui-widget-header .ui-state-highlight.ui-state-hover  {background: #ffffff; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #c4b38f; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; /*filter:Alpha(Opacity=70);*/ font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; /*filter:Alpha(Opacity=35);*/ background-image: none; }

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-right {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-left { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa; opacity: .30;/*filter:Alpha(Opacity=30);*/ }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa; opacity: .30;/*filter:Alpha(Opacity=30);*/ -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
 
 /* jQuery UI Datepicker */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 3px; width: 20px; height: 20px; background: url('../images/ui-icons_ffffff_256x240.png') no-repeat 0 0;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { border: none; background: url('../images/ui-icons_c4b38f_256x240.png') no-repeat 0 0; cursor: pointer;}
.ui-datepicker .ui-datepicker-prev { left: 2px; background-position: -78px -190px;}
.ui-datepicker .ui-datepicker-next { right: 2px; background-position: -46px -190px;}
.ui-datepicker .ui-datepicker-prev-hover { background-position: -78px -190px;}
.ui-datepicker .ui-datepicker-next-hover { background-position: -46px -190px;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0; }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow: visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    /*filter: mask();*/ /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

.ui-datepicker-trigger {
    cursor: pointer;
    margin: 0 0 -6px 2px;
}