/******************************************************************************

  PROFILE & REGISTRATION

******************************************************************************/
#contentA.profile .headline,
#contentA.registration .headline {
  margin: 0 0 20px;
}
.profile .inner,
.registration .inner {
}


/*** LEFT ***/
.profile .left,
.registration .left {
  float: left;
  padding: 0 0 20px 0;
  width: 210px;
}
.profile .left .picture,
.registration .left .picture {
  background: #e7e2d5;
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: 0 0 10px;
  padding: 5px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.profile .left .picture img,
.registration .left .picture img {
  padding: 0;
  margin: 0;
}
.profile .left .picture #loading,
.registration .left .picture #loading {
  margin-top: 93px;
}

.profile .left .list,
.registration .left .list {
  margin: 0 0 0 5px;
  padding: 0;
}
.profile .left .list .item,
.registration .left .list .item {
  background: none;
  margin: 0 0 3px 0;
  padding: 0;
  font-size: 92%;
}
.profile .left .list .item.upload a,
.registration .left .list .item.upload a,
.profile .left .list .item.edit a,
.registration .left .list .item.edit a,
.profile .left .list .item.delete a,
.registration .left .list .item.delete a {
  padding-left: 17px;
  position: relative;
  color: #573a00;
}
.profile .left .list .item.upload a:after,
.registration .left .list .item.upload a:after,
.profile .left .list .item.edit a:after,
.registration .left .list .item.edit a:after,
.profile .left .list .item.delete a:after,
.registration .left .list .item.delete a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  background: url('../images/icon-a.png') no-repeat 0 -3200px;
  width: 10px;
  height: 10px;
  opacity: 0.55;
  filter: alpha(opacity=55);
}
.profile .left .list .item.edit a:after,
.registration .left .list .item.edit a:after {
  background-position: 0 -3300px;
}
.profile .left .list .item.delete a:after,
.registration .left .list .item.delete a:after {
  background-position: 0 -3400px;
}
.profile .left .list .item a:hover:after,
.registration .left .list .item a:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}



/* POPUP EDIT PHOTO */
#editProfilePhoto .mainPhoto {
  float: left;
  width: 310px;
  min-height: 437px;
  margin: 0;
  padding: 0 25px 30px 0;
  border-right: 1px solid #d1c4ab;
}
#editProfilePhoto .infoTitle {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold;
}
#editProfilePhoto .infoText {
  display: block;
  margin: 0 0 15px 0;
}
#editProfilePhoto .infoHelp {
  display: block;
  background: url('../images/ico-info.png') no-repeat 0 0;
  padding: 0 0 0 40px;
  font-size: 92%;
}
#editProfilePhoto .mainPhoto .crop {
  display: block;
  background: #d5cbb8;
  width: 300px;
  margin: 0 0 20px 0;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

#editProfilePhoto .profilePhoto,
#editProfilePhoto .commentPhoto,
#editProfilePhoto .teamPhoto {
  float: right;
  width: 265px;
  height: 100px;
  margin: 0 0 20px 0;
  position: relative;
}
#editProfilePhoto .profilePhoto {
  background: url('../images/profilePhoto-bg.jpg') no-repeat 0 0;
  height: 245px;
}
#editProfilePhoto .profilePhoto .crop {
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#editProfilePhoto .commentPhoto {
  background: url('../images/commentPhoto-bg.jpg') no-repeat 0 0;
  height: 100px;
}
#editProfilePhoto .commentPhoto .crop {
  position: absolute;
  top: 27px;
  right: 14px;
  display: block;
  width: 46px;
  height: 46px;
  overflow: hidden;
}

#editProfilePhoto .teamPhoto {
  background: url('../images/teamPhoto-bg.jpg') no-repeat 0 0;
  height: 80px;
  margin: 0;
}
#editProfilePhoto .teamPhoto .crop {
  position: absolute;
  top: 27px;
  left: 39px;
  display: block;
  width: 26px;
  height: 26px;
  overflow: hidden;
}



/*** TEAM SELECT ***/
.profile .team-select {
  background: url('../images/profile-hrac-team.png');
  cursor: pointer;
  height: 34px;
  padding: 6px 0 0 8px;
}
.profile .team-select a {
  color: #000;
}
.profile .team-select img {
  float: left;
  margin-right: 10px;
  padding-top: 2px;
  position: relative;
}
.profile .team-select-content {
  background: url('../images/profile-hrac-team-select-top.png') no-repeat;
  margin-top: 3px;
  padding-top: 5px;
}
.profile .team-select-content div.bottom {
  background: url('../images/profile-hrac-team-select-bottom.png') no-repeat;
  height: 5px;
  overflow: hidden;
}
.profile .team-select-item,
.profile .team-select-item-first {
  background: url('../images/content-module-title-bg.png');
  height: 30px;
  padding: 10px 0 0 5px;
}
.profile .team-select-item-first {
  padding-top: 0;
}
.profile .team-select-item a,
.profile .team-select-item-first a {
  color: #000;
}
.profile .team-select-item img,
.profile .team-select-item-first img {
  background: url('../images/profile-hrac-team.png') 205px 35px;
  float: left;
  margin-right: 10px;
  padding: 3px;
  position: relative;
}

/*** RIGHT ***/
.profile .right,
.registration .right {
  float: right;
  padding: 0 0 20px 0;
  width: 390px;
}
.registration .right .entries {
  padding: 0 20px 0 0;
  position: relative;
}

/*** HEAD ***/
.profile .head {
  padding: 0 0 2px 0;
  border-bottom: 1px solid #f0ece7;
  margin-bottom: 14px;
  min-height: 50px;
  position: relative;
}
.profile .head .item {
  background: none;
  margin: 0;
  padding: 0;
}
.profile .head .name {
  float: left;
  width: 230px;
  margin: 0;
  padding: 0;
}
.profile .head .name .firstName {
  font-size: 125%;
}
.profile .head .name .surName {
  font-size: 175%;
  font-weight: bold;
  line-height: 1.15em;
}
.profile .head .rightPanel {
  position: absolute;
  right: 0;
  bottom: 6px;
  width: 150px;
  margin: 0;
  padding: 0;
}
.profile .head .rightPanel .item {
  margin: 8px 0 0 0;
  text-align: right;
}
.profile .head .message a {
  background: url('../images/icon-a.png') no-repeat 100% -596px;
  color: #212121;
  padding-right: 21px;
  margin-right: 1px;
}
.profile .head .invite a,
.profile .head .leave a {
  background: url('../images/icon-a.png') no-repeat 100% -3100px;
  color: #212121;
  padding-right: 22px;
}
.profile .head .leave a {
  background: url('../images/icon-a.png') no-repeat 100% -3700px;
}

.profile .right a,
.registration .right a {
  color: #212121;
}
.profile .right .group,
.registration .right .group {
  margin: 0 0 20px;
}
.profile .right .group .entries {
  margin: 0 0 2px;
}
.profile .right .group .entries.city .input {
  line-height: 18px;
  padding: 2px 0;
}
.profile .right .label,
.registration .right .label,
.registration #privacysetting .label,
.registration #profilesetting .label,
.registration #modules .label,
.registration #teamsettings .label {
  float: left;
  line-height: 22px;
  width: 144px;
}
.profile .right .input,
.registration .right .input {
  float: left;
  height: 22px;
  line-height: 22px;
  width: 210px;
  font-weight: bold;
}
.profile .right .input {
  height: auto;
  width: 234px;
}


/***** TABS *****/
.profile .tabs .title {
  margin: 0 0 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
}

/*** LAST ACTIVITE ***/
.profile .lastActivite {
  margin: 15px 0 0 10px;
  padding: 0 10px 0 24px;
  color: #212121;
}
.profile .lastActivite a {
  font-weight: bold;
  color: #212121;
}
.profile .imagesLast {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
}
.profile .imagesLast a {
  margin: 0 0 0 20px;
  padding: 0;
  display: inline-block;
  width: 111px;
  height: 84px;
  overflow: hidden;
}
.profile .imagesLast .first {
  margin: 0;
}
.profile .imagesLast img {
  margin: 0;
  border: 1px solid #593b00;
}

/* icon */
.profile .icon.invite {
  background-position: 0 -3000px;
}
.profile .icon.leave {
  background-position: 0 -3600px;
}
.profile .icon.comment {
  background-position: 0 -3800px;
}
.profile .icon.confirmSmall {
  background-position: 0 -3900px;
}
.profile .icon.cancelSmall {
  background-position: 0 -4000px;
}
.profile .icon.becameFan {
  background-position: 0 -1450px;
}

/*** FAN ***/
.profile #teams {
  
}
.profile #teams .list {
  margin: 0 -20px 0 0;
  padding: 0;
}
.profile #teams .teamBox {
  background: none;
  float: left;
  width: 275px;
  margin: 0 10px 20px 0;
  padding: 0;
}
.profile #teams .teamBox .name,
.profile #teams .teamBox .info {
  float: right;
  width: 212px;
}
.profile #teams .teamBox .name {
  margin: 0 0 8px;
  line-height: 0.85em;
  font-size: 125%;
}
.profile #teams .teamBox .name span {
  margin: 0 0 4px 0;
  font-size: 68%;
  font-weight: normal;
  display: inline-block;
  text-transform: lowercase;
}
.profile #teams .teamBox .name a {
  color: #212121;
}
.profile #teams .teamBox .picture {
  background: #e7e2d5;
  border-radius: 4px 4px 4px 4px;
  float: left;
  margin: 0;
  padding: 4px;
}
.profile #teams .teamBox .info {
  font-size: 78%;
  margin: 0;
}

.profile #teams .bottomLink {
  padding: 0 10px 15px 0;
}


/*** STATS ***/
.profile #stats .teamBox {
  width: 400px;
  margin: 0 0 8px 0;
}
.profile #stats .teamBox .name {
  float: right;
  width: 360px;
  margin: -2px 0 0 0;
  line-height: 0.85em;
  font-size: 125%;
}
.profile #stats .teamBox .name span {
  margin: 0 0 4px 0;
  font-size: 68%;
  font-weight: normal;
  display: inline-block;
  text-transform: lowercase;
}
.profile #stats .teamBox .name a {
  color: #212121;
}
.profile #stats .teamBox .picture {
  background: #e7e2d5;
  border-radius: 3px 3px 3px 3px;
  float: left;
  margin: 0;
  padding: 3px;
}

.profile #stats .stats {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.profile #stats .stats:last-child {
  margin-bottom: 5px;
}
.profile #stats .stats th {
  padding: 0 0 2px 0;
  border-bottom: 1px solid #beb29b;
}
.profile #stats .stats td {
  padding: 2px 0;
}
.profile #stats .stats tbody tr:first-child td {
  padding: 3px 0 2px;
}
.profile #stats .stats .season {
  text-align: left;
  padding-left: 3px !important;
}
.profile #stats .stats .summary td {
  border-top: 1px solid #beb29b;
  font-weight: bold;
  padding-top: 3px !important;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
	.profile .left,
	.registration .left {
		width: 170px;
	}
	.profile .left .picture,
	.registration .left .picture {
		width: 162px;
		height: 162px;
		line-height: 162px;
		padding: 4px;
	}
	.profile .left .picture img,
	.registration .left .picture img {
		width: 162px;
		height: 162px;
	}

	.profile .right,
	.registration .right {
		width: 292px;
	}
	.profile .right .input {
		width: 138px;
	}
}
@media (max-width: 991px) {
	.profile .left,
	.registration .left {
		width: 160px;
	}
	.profile .left .picture,
	.registration .left .picture {
		width: 152px;
		height: 152px;
		line-height: 152px;
	}
	.profile .left .picture img,
	.registration .left .picture img {
		width: 152px;
		height: 152px;
	}
}
@media (max-width: 767px) {
	.profile .inner,
	.registration .inner {
		position: relative;
	}
	.profile .left,
	.registration .left {
		float: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	.profile .right,
	.registration .right {
		float: none;
		margin-left: 180px;
		width: auto;
	}
	.profile .right .label,
	.registration .right .label,
	.registration #privacysetting .label,
	.registration #profilesetting .label,
	.registration #modules .label,
	.registration #teamsettings .label {
		width: 120px;
	}
	.profile .right .input {
		width: auto;
	}
}
@media (max-width: 599px) {
	.profile .left,
	.registration .left {
		width: 120px;
	}
	.profile .left .picture,
	.registration .left .picture {
		width: 112px;
		height: 112px;
		line-height: 112px;
	}
	.profile .left .picture img,
	.registration .left .picture img {
		width: 112px;
		height: 112px;
	}

	.profile .right,
	.registration .right {
		margin-left: 140px;
	}
	.profile .right .label,
	.registration .right .label,
	.registration #privacysetting .label,
	.registration #profilesetting .label,
	.registration #modules .label,
	.registration #teamsettings .label {
		width: 120px;
	}
}
@media (max-width: 479px) {
	.profile .left,
	.registration .left {
		width: 120px;
	}
	.profile .left .picture,
	.registration .left .picture {
		width: 112px;
		height: 112px;
		line-height: 112px;
	}
	.profile .left .picture img,
	.registration .left .picture img {
		width: 112px;
		height: 112px;
	}

	.profile .right,
	.registration .right {
		float: none;
		margin-left: 0;
		padding-top: 130px;
		width: auto;
	}
	.profile .right .label {
    width: 120px;
  }
  .registration .right .label,
  .registration #privacysetting .label,
  .registration #profilesetting .label,
  .registration #modules .label,
  .registration #teamsettings .label {
    width: 100%;
  }
}


/**********************************
  REGISTRATION
**********************************/
.registration .left .file {
  width: 210px;
  background: #f0ede6;
  border: 1px solid #f0ede6;
}

/*** RIGHT ***/
.registration .right .label,
.registration #privacysetting .label,
.registration #profilesetting .label,
.registration #modules .label,
.registration #teamsettings .label {
  line-height: 23px;
}
.registration .right .label .star {
  font-size: 92%;
  color: #573a00;
  margin: 0 0 0 3px;
  vertical-align: top;
}
.registration .right .input,
.registration #profilesetting .input,
.registration #modules .input,
.registration #teamsettings .input {
  width: 175px;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  font-weight: normal;
}
.registration .right .small {
  width: 25px;
  margin: 0 5px 0 0;
}
.registration .right select,
.registration #privacysetting select,
.registration #profilesetting select,
.registration #modules select,
.registration #teamsettings select {
  float: left;
  width: 185px;
  height: 22px;
}
.registration #privacysetting select,
.registration #profilesetting select,
.registration #modules select,
.registration #teamsettings select {
  float: none;
}
.registration .right .day,
.registration .right .month {
  width: 49px;
  margin: 0 10px 0 0;
}
.registration .right .year {
  width: 67px;
  margin: 0;
}

/* autocomplete */
.registration .right .entries.place .facebook-auto {
  right: 60px;
}
.registration .right .entries.place ul.holder li.bit-box {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.registration .right .entries.place ul.holder li.bit-box a.closebutton {
  right: 5px;
}


/*** TOOTLTIP ***/
.registration .help {
  position: absolute;
  top: 1px;
  right: 0;
}
.registration .tooltip {
  width: 100px;
  left: 1000px; /* FIX position error */
}

/*** TABS ***/
.registration .entries {
  margin: 0 0 5px;
  line-height: 23px;
}
.registration .entries.selectOne {
  line-height: 16px;
}
.registration .msg strong {
  color: #3a2700;
}
.registration .title {
  margin: 17px 0 25px 0;
}

.registration .titleRss {
  border-bottom: 1px solid #ffffff;
  margin: 12px 0 8px 0;
  padding-bottom: 5px;
}
.registration .checkboxes {
  margin: 5px 0 20px 0;
  padding: 0;
}
.registration .checkbox {
  background: none;
  float: left;
  display: block;
  margin: 0 0 2px;
  padding: 0;
  width: 50%;
  height: 18px;
}
.registration .checkbox label {
  vertical-align: middle;
}
.registration .checkbox input {
  margin: 0 5px 0 0;
  vertical-align: middle;
  border-radius: 0;
  background: none;
}
.registration .buttonBox {
  margin: 25px 0 0 0;
  padding-bottom: 10px;
  text-align: right;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  .registration .right .label {
  	width: 120px;
  }
  .registration .right select {
  	width: 150px;
  }
  .registration .right .input {
  	width: 140px;
  }
  .registration .right .small {
  	width: 25px;
  }
  .registration .right .day,
  .registration .right .month {
  	width: 42px;
  	margin: 0 5px 0 0;
  }
  .registration .right .year {
  	width: 56px;
  }
  .registration .right .selectOne ul.holder {
  	width: 143px !important;
  }
  .registration .right .entries.place ul.holder li.bit-box {
  	max-width: 126px;
  }

  /* autocomplete */
  .registration .right .entries.place .facebook-auto {
    right: -14px;
  }
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
  .registration .right .label {
  	width: 140px;
  }
  .registration .right select {
  	width: 170px;
  }
  .registration .right .input {
  	width: 160px;
  }
  .registration .right .small {
  	width: 25px;
  }
  .registration .right .day,
  .registration .right .month {
  	width: 48px;
  	margin: 0 7px 0 0;
  }
  .registration .right .year {
  	width: 60px;
  }
  .registration .right .selectOne ul.holder {
  	width: 163px !important;
  }
  .registration .right .entries.place ul.holder li.bit-box {
  	max-width: 146px;
  }

  /* autocomplete */
  .registration .right .entries.place .facebook-auto {
    right: auto;
    left: 140px;
  }
}
@media (max-width: 599px) {
  .registration .right .label {
  	width: 110px;
  }
  .registration .right select {
  	width: 140px;
  }
  .registration .right .input {
  	width: 130px;
  }
  .registration .right .small {
  	width: 25px;
  }
  .registration .right .day,
  .registration .right .month {
  	width: 39px;
  	margin: 0 4px 0 0;
  	padding: 0;
  }
  .registration .right .year {
  	width: 54px;
  	padding: 0;
  }
  .registration .right .selectOne ul.holder {
  	width: 133px !important;
  }
  .registration .right .entries.place ul.holder li.bit-box {
  	max-width: 116px;
  }
  .registration .checkbox {
  	width: 100%;
  }

  /* autocomplete */
  .registration .right .entries.place .facebook-auto {
    left: 110px;
  }
}
@media (max-width: 479px) {
	.profile .left .list,
	.registration .left .list {
		position: absolute;
		top: 0;
		left: 135px;
		margin: 0;
		width: 135px;
	}
	.profile .left .list .item,
	.registration .left .list .item {
		margin: 0 0 8px 0;
	}
}

/**********************************
  TEAM REGISTRATION & TEAM PROFILE
**********************************/
.registration .teamPhoto,
.profile .teamPhoto {
  background: #e7e2d5;
  margin: 0;
  padding: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.registration .inputTeamPhoto {
  margin: 0 0 12px 0;
}
.registration .inputTeamPhoto .file {
  width: 260px;
  border: 1px solid #f0ede6;
}

.registration .tabs .help {
  float: none;
  margin: 0 0 -5px 2px;
  position: relative;
  right: auto;
  top: auto;
}

/*** PROFILE ***/
.profile.team .rightPanel{
  margin: 29px 0 0 0;
}
.profile .teamPhoto {
  margin: 0 0 10px 0;
}
.profile .teamPhoto img {
  width: 590px;
}

/*** REGISRATION ***/
.registration .teamPhoto img {
  width: 590px;
}

/*** ADMINS & SEASON ***/
.registration.team .entries.admins select,
.registration.team .entries.season select {
  margin-right: 5px;
}
.registration.team .entries.admins .button,
.registration.team .entries.season .button {
  padding: 0 9px;
  font-weight: normal;
}
.registration.team .entries.admins .button.icon.edit,
.registration.team .entries.season .button.icon.edit {
  padding-left: 26px;
  background-position: 9px -1545px;
}

/* poups - podobne jak #popUpEditCharges v cashBox */
#popUpEditAdmins .entries,
#popUpEditSeason .entries {
  margin: 0;
  padding: 5px 0;
}
#popUpEditAdmins .entries.submit,
#popUpEditSeason .entries.submit {
  margin: 0;
  padding: 0;
}
#popUpEditAdmins .adminName,
#popUpEditSeason .seasonName {
  float: left;
  margin: 0 20px 0 0;
  width: 200px;
  height: 27px;
  line-height: 25px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#popUpEditAdmins select {
  float: left;
  margin: 0 20px 0 0;
  padding: 1px 3px 1px 1px;
  width: 200px;
}

#popUpEditAdmins .controls,
#popUpEditSeason .controls {
  float: left;
  width: 80px;
  height: 21px;
  margin-top: 3px;
}

#popUpEditAdmins .delete,
#popUpEditAdmins .save,
#popUpEditSeason .edit,
#popUpEditSeason .delete,
#popUpEditSeason .save,
#popUpEditSeason .storno {
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url('../images/icon-a.png') no-repeat;
  background-color: #f0ede5;
  background-position: 6px -1547px;
}
#popUpEditAdmins .delete,
#popUpEditSeason .delete {
  background-position: 4px -746px;
}
#popUpEditAdmins .save,
#popUpEditSeason .save {
  background-position: 6px -2145px;
}
#popUpEditSeason .storno {
  background-position: 4px -746px;
}


#popUpEditAdmins .link,
#popUpEditSeason .link {
  margin: 10px 0 0 0;
}
#popUpEditAdmins .link .add,
#popUpEditSeason .link .add {
  background-position: 7px -1645px;
  padding-left: 25px;
}

/*** SEASON ***/
#popUpEditSeason input.text {
  float: left;
  margin: 0 20px 0 0;
  width: 190px;
}


/*** MERGE STATS ***/
.registration.team .entries.mergeStats select {
  margin-right: 5px;
  width: 140px !important;
}
.registration.team .entries.mergeStats .separator {
  display: inline-block;
  margin-right: 5px;
}
.registration.team .entries.mergeStats .button {
  padding: 0 9px;
  font-weight: normal;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
	.registration .teamPhoto img,
  .profile .teamPhoto img {
		width: 450px;
	}
}
@media (max-width: 991px) {
	.registration .teamPhoto img,
  .profile .teamPhoto img {
	  width: 440px;
	}
}
@media (max-width: 767px) {
	.registration .teamPhoto,
  .profile .teamPhoto {
    width: auto;
    max-width: 590px;
  }
  .registration .teamPhoto img,
  .profile .teamPhoto img {
    width: 100%;
    max-width: 590px;
  }
}


/******************************************************************************

  SEARCH

******************************************************************************/
#search #contentA .title {
  border-bottom: 1px solid #ffffff;
  padding: 0 8px 3px;
  margin: 0 0 15px 0;
}
#search #contentA .title.users {
  margin: 35px 0 15px 0;
}
#search #contentA .title .info {
  float: right;
}

#search #contentA .result {
  margin: 0 0 20px 0;
  padding: 0 8px;
}
#search #contentA .result .left {
  float: left;
  width: 380px;
}
#search #contentA .result .left .name,
#search #contentA .result .left .info {
  float: right;
  width: 315px;
}
#search #contentA .result .left .name {
  margin: 0 0 8px;
  line-height: 0.85em;
  font-size: 125%;
}
#search #contentA .result .left .name span {
  margin: 0 0 4px 0;
  font-size: 68%;
  font-weight: normal;
  display: inline-block;
}
#search #contentA .result .left .name span.small {
  text-transform: lowercase;
}
#search #contentA .result .left .name a {
  color: #212121;
}
#search #contentA .result .left .picture {
  background: #e7e2d5;
  border-radius: 4px 4px 4px 4px;
  float: left;
  margin: 0;
  padding: 4px;
}
#search #contentA .result .left .info {
  font-size: 78%;
  margin: 0;
}

#search #contentA .result .right {
  float: right;
  width: 190px;
}
#search #contentA .result .right .buttonC {
  margin: 6px 0 0 0;
  font-weight: normal;
  font-size: 95%;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 3px;
}
#search #contentA .result .right .buttonC:first-child {
  margin: 0;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #search #contentA .result .left {
    width: 270px;
  }
  #search #contentA .result .left .name,
  #search #contentA .result .left .info {
    width: 205px;
  }
}
@media (max-width: 991px) {
  #search #contentA .result .left {
    width: 260px;
  }
  #search #contentA .result .left .name,
  #search #contentA .result .left .info {
    width: 195px;
  }
}
@media (max-width: 767px) {
  #search #contentA .result .left {
    width: 340px;
  }
  #search #contentA .result .left .name,
  #search #contentA .result .left .info {
    width: 275px;
  }
}
@media (max-width: 599px) {
  #search #contentA .result {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c3b8a2;
  }
  #search #contentA .result .left {
    width: 260px;
  }
  #search #contentA .result .left .name,
  #search #contentA .result .left .info {
    width: 195px;
  }
  #search #contentA .result .right {
    float: left;
    margin-top: 10px;
    width: 100%;
  }
}


/******************************************************************************

  MESSAGES

******************************************************************************/
#messages .contentAbox .title {
    border-bottom: 1px solid #FFFFFF;
    margin: 17px 10px 15px;
    padding-bottom: 5px;
}
#messages .contentAbox .title .date {
    float: right;
}

#messages .message-container {
  margin: 8px 10px 10px;
  position: relative;
}
#messages .message {
  background: #e7e2d5;
  float: right;
  margin: 0;
  padding: 4px 7px 7px 7px;
  width: 524px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.msie-8 #messages .message,
.msie-7 #messages .message {
  padding: 5px 7px 9px 7px;
}
#messages .message:hover,
#messages .active .message {
  background: #efece4;
}

#messages .message .containerName {
  border-bottom: 1px solid #d1c4ab;
  margin: 0 0 10px 0;
  padding: 0;
}
#messages .message .containerName .name {
  float: left;
  display: inline-block;
  margin: 0 0 2px 0;
  width: 430px;
  font-size: 13px;
}
#messages .message .containerName .name a {
  color: #212121;
}
#messages .message .containerName .name .team {
  font-weight: normal;
  margin: 0 0 0 5px;
}
#messages .message .containerName .unread {
  float: right;
  margin: 2px 0 0 0;
  font-size: 10px;
  color: #a10400;
}

#messages .message-container.active .message .containerMessages {
  min-height: 150px;
  max-height: 400px;
  overflow-x: hidden;
}
#messages .message-container .message .containerMessages {
  overflow-x: visible;
}

#messages .message-container .message .containerMessages .containerMessage.last {
  float: left;
  width: 475px;
  margin: 0;
  padding: 0;
  background: none;
}
#messages .message-container.active .message .containerMessages .containerMessage {
  float: left;
  width: 420px;
  margin: 5px 0;
  padding: 8px 10px;
  background: #e4decf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#messages .message-container.active .message .containerMessages .containerMessage.sent {
  float: right;
  margin-right: 7px;
  background: #f6f4ee;
}
#messages .message-container.active .message .containerMessages .containerMessage.info {
  background: #efece4;
  width: 464px;
  text-align: center;
}
#messages .message-container.active .message .containerMessages .containerMessage.last {
  margin-bottom: -15px;
}

#messages .message .containerMessages .containerMessage:first-child .date {
  margin: 0;
}
#messages .message .containerMessages .containerMessage .date {
  margin: 0;
  padding: 0 0 5px 0;
  color: #a5977c;
}
#messages .message .containerMessages .containerMessage.last .date {
  margin: 0;
}
#messages .active .message .containerMessages .containerMessage:first-child.last .date {
  margin: 0;
}
#messages .message .containerMessages .containerMessage .text {
  margin: 0;
  padding: 2px 0 0 0;
}
#messages .message .containerMessages .containerMessage .date,
#messages .message .containerMessages .containerMessage .text {
  cursor: pointer;
  max-height: 15px;
  max-width: 435px;
  overflow: hidden;
}
#messages .message .containerMessages .containerMessage.info .date,
#messages .message .containerMessages .containerMessage.info .text {
  max-width: none;
  width: 100%;
}
#messages .message .containerMessages .containerMessage .text {
  max-height: 18px;
}
#messages .message .containerMessages .containerMessage .text p {
  margin: 0;
}

#messages .active .message .containerMessages .containerMessage .date {
  padding: 0 0 3px 0;
}
#messages .active .message .containerMessages .containerMessage .date,
#messages .active .message .containerMessages .containerMessage .text {
  max-height: none;
  overflow: hidden;
  cursor: auto;
}
#messages .active .message .containerMessages .containerMessage.received .date {
  color: #737373;
}

/*** CONTROL PANEL ***/
#messages .message .controlPanel {
  border-top: 1px solid #D1C4AB;
  margin: 10px 0 0 0;
}
#messages .message .controlPanel a {
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 2px 0 0 0;
  color: #212121;
}

#messages .message .myComment {
  margin: 8px 0 0 0;
  width: 506px;
}
#messages .message .myComment textarea {
  background: #ffffff;
  color: #717171;
  width: 415px;
}
#messages .message .myComment textarea.active,
#messages .message .myComment textarea.wasActive {
  color: #212121;
}


/*** PICTURE ***/
#messages .message-container .picture {
  background: #e7e2d5;
  float: left;
  margin: 0 0 8px 0;
  padding: 4px;
  width: 46px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


/*** CONTROLS ***/
#messages .message-container .controls {
  float: left;
  width: 46px;
  margin: 0;
  overflow: hidden;
}
#messages .message-container .delete,
#messages .message-container .leave {
  background: url('../images/icon-a.png') no-repeat 0 -750px;
  float: left;
  width: 14px;
  height: 14px;
  margin: 0 6px 0 0;
  overflow: hidden;
}
#messages .message-container .leave {
  background-position: 0 -4600px;
  margin: 0;
}


/*** POPUP SEND MESSAGE ***/
#popUpFormSendNewMessage {

}
#popUpFormSendNewMessage .facebook-auto {
  padding: 0 3px;
  border: 1px solid #d1c4a8;
}
#popUpFormSendNewMessage .facebook-auto ul {
  padding: 5px 0;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #messages .message {
    width: 384px;
  }
  #messages .message .containerName .name {
    width: 300px;
  }
  #messages .message-container.active .message .containerMessages .containerMessage,
  #messages .message .containerMessages .containerMessage .date,
  #messages .message .containerMessages .containerMessage .text {
    width: 315px;
  }

  #messages .message .myComment {
    width: 376px;
  }
  #messages .message .myComment textarea {
    width: 285px;
  }
}
@media (max-width: 991px) {
  #messages .message {
    width: 374px;
  }
  #messages .message .containerName .name {
    width: 290px;
  }
  #messages .message-container.active .message .containerMessages .containerMessage,
  #messages .message .containerMessages .containerMessage .date,
  #messages .message .containerMessages .containerMessage .text {
    width: 305px;
  }

  #messages .message .myComment {
    width: 366px;
  }
  #messages .message .myComment textarea {
    width: 275px;
  }
}
@media (max-width: 767px) {
  #messages .message {
    width: auto;
    margin: 0 0 0 52px;
    float: none;
  }

  #messages .message-container .picture {
    width: 40px;
    padding: 3px;
  }
  #messages .message-container .picture img {
    width: 40px;
    height: 40px;
  }

  #messages .message .containerName {
    position: relative;
    padding-right: 70px
  }
  #messages .message .containerName .name {
    width: 100%;
  }
  #messages .message .containerName .unread {
    position: absolute;
    top: 0;
    right: 0;
  }
  #messages .message-container.active .message .containerMessages .containerMessage,
  #messages .message .containerMessages .containerMessage .date,
  #messages .message .containerMessages .containerMessage .text {
    width: 80%;
    max-width: none;
  }
  #messages .message-container .message .containerMessages .containerMessage.last {
    width: 80%;
  }

  #messages .message-container .picture {
    position: absolute;
    top: 0;
    left: 0;
    float: none;
  }
  #messages .message-container .controls {
    position: absolute;
    top: 52px;
    left: 0;
    float: none;
  }

  #messages .message .myComment {
    width: 100%;
    padding-right: 0;
    position: relative;
  }
  #messages .message .myComment fieldset {
    padding-right: 86px;
  }
  #messages .message .myComment textarea {
    width: 100%;
    margin-right: 0;
  }
  #messages .message .myComment .button {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (max-width: 479px) {
  #messages .message {
    margin: 0 0 0 40px;
  }

  #messages .message-container .picture {
    width: 32px;
    padding: 2px;
  }
  #messages .message-container .picture img {
    width: 32px;
    height: 32px;
  }

  #messages .message-container .controls {
    top: 42px;
  }

  #messages .message .myComment {
    padding-right: 0;
  }
  #messages .message .myComment fieldset {
    padding-right: 70px;
  }
}


/******************************************************************************

  NOTICES

******************************************************************************/
#notices .contentAbox .title {
  border-bottom: 1px solid #FFFFFF;
  margin: 17px 0 15px;
  padding: 0 10px 5px;
}
#notices .contentAbox .item {
  padding: 0 10px 0 32px;
}
#notices .contentAbox .item a {
  color: #212121;
}

#notices .contentAbox .item.invite .confirm {
  color: #006e05;
  padding-left: 5px;
}
#notices .contentAbox .item.invite .decline {
  color: #880000;
  padding-left: 5px;
}

/*** icon ***/
#notices .contentAbox .icon.invite {
  background-position: 10px -3000px;
}
#notices .contentAbox .icon.leave {
  background-position: 10px -3600px;
}
#notices .contentAbox .icon.comment {
  background-position: 10px -3800px;
}
#notices .contentAbox .icon.teamEdit {
  background-position: 10px -2050px;
}
#notices .contentAbox .icon.confirmSmall {
  background-position: 10px -3900px;
}
#notices .contentAbox .icon.cancelSmall {
  background-position: 10px -4000px;
}
#notices .contentAbox .icon.warningSmall {
  background-position: 10px -4100px;
}
#notices .contentAbox .icon.calendarSmall {
  background-position: 10px -4200px;
}


/************************************************************

  HELP OVERLAY

************************************************************/
#helpOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(45,30,0,0.66);
  z-index: 10000;
}
#helpOverlay .helpBox {
  position: absolute;
}

/*** border ***/
#helpOverlay .helpBox .border {
  background: url('../images/sprites-helpOverlay.png') no-repeat 0 0;
  position: absolute;
}
#helpOverlay .helpBox .border.leftTop {
  left: 0;
  top: 0;
  width: 35px;
  height: 19px;
  background-position: 0 -200px;
}
#helpOverlay .helpBox .border.rightTop {
  right: 0;
  top: 0;
  width: 31px;
  height: 21px;
  background-position: -100px -200px;
}
#helpOverlay .helpBox .border.leftBottom {
  left: 0;
  bottom: 0;
  width: 18px;
  height: 20px;
  background-position: 0 -300px;
}
#helpOverlay .helpBox .border.rightBottom {
  right: 0;
  bottom: 0;
  width: 38px;
  height: 17px;
  background-position: -100px -300px;
}
/* big */
#helpOverlay .helpBox.big .border.leftTop {
  width: 78px;
  height: 95px;
  background-position: 0 0;
}
#helpOverlay .helpBox.big .border.rightTop {
  width: 66px;
  height: 80px;
  background-position: -100px 0;
}
#helpOverlay .helpBox.big .border.leftBottom {
  width: 69px;
  height: 98px;
  background-position: 0 -100px;
}
#helpOverlay .helpBox.big .border.rightBottom {
  width: 36px;
  height: 98px;
  background-position: -100px -100px;
}
/* small */
#helpOverlay .helpBox.small .border.leftTop {
  width: 23px;
  height: 19px;
  background-position: 0 -400px;
}
#helpOverlay .helpBox.small .border.rightTop {
  width: 22px;
  height: 15px;
  background-position: -100px -400px;
}
#helpOverlay .helpBox.small .border.leftBottom {
  width: 18px;
  height: 20px;
  background-position: 0 -500px;
}
#helpOverlay .helpBox.small .border.rightBottom {
  width: 20px;
  height: 17px;
  background-position: -100px -500px;
}

#helpOverlay .info {
  position: absolute;
  color: #3A2606;
  font-family: 'Patrick Hand', cursive;
}
#helpOverlay .info .title {
  color: #3A2606;
  text-decoration: underline;
  font-size: 185%;
  margin: 0 0 4px 0;
  font-weight: normal;
  text-transform: uppercase;
}
#helpOverlay .info .title .textBg {
  background: #f6f2ea;
  padding: 0 7px 3px 7px;
}
#helpOverlay .info .text {
  margin: 0;
  font-size: 140%;
  font-weight: normal;
  line-height: 1.3em;
}
#helpOverlay .info .text .textBg {
  background: #f6f2ea;
  padding: 0 7px 2px 7px;
}

/*** arrow ***/
#helpOverlay .info .arrow {
  background: url('../images/sprites-helpOverlay.png') no-repeat 0 0;
}

/*** close ***/
#helpOverlay .close {
  position: absolute;
  top: 52px;
  right: 50%;
  margin-right: -70px;
  width: 140px;
  text-align: center;
}
#helpOverlay .close a {
  background: url('../images/sprites-helpOverlay.png') no-repeat -400px 7px;
  padding-left: 30px;
  color: #ffffff;
  font-family: 'Patrick Hand', cursive;
  font-size: 185%;
  text-transform: uppercase;
  display: inline-block;
}


/********* WALL **********/

/**** userNoTeam & userWithTeam ****/
/*** wall ***/
#helpOverlay .helpBox.wall {
  top: 117px;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  height: 300px;
}
#helpOverlay .helpBox.wall .info {
  top: 138px;
  left: -200px;
  width: 190px;
  padding: 40px 50px 0 0;
}
#helpOverlay .helpBox.wall .arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 122px;
  height: 55px;
  background-position: -200px 0;
}
#helpOverlay .helpBox.wall .border.leftBottom {
  display: none;
}
#helpOverlay .helpBox.wall .border.rightBottom {
  display: none;
}

/*** helpButton ***/
#helpOverlay .helpBox.helpButton {
  display: none;
  top: 3px;
  right: 50%;
  margin-right: -18px;
  width: 98px;
  height: 45px;
}
#helpOverlay .helpBox.helpButton .info {
  top: 40px;
  right: -295px;
  width: 230px;
  padding: 0 0 0 125px;
}
#helpOverlay .helpBox.helpButton .arrow {
  position: absolute;
  top: 2px;
  left: 0;
  width: 112px;
  height: 48px;
  background-position: -200px -200px;
}

/*** search ***/
#helpOverlay .helpBox.search {
  top: 2px;
  left: 50%;
  margin-left: -330px;
  width: 105px;
  height: 46px;
}
#helpOverlay .helpBox.search .info {
  top: 20px;
  left: -200px;
  width: 165px;
  padding: 55px 20px 0 0px;
}
#helpOverlay .helpBox.search .arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: 78px;
  background-position: -200px -600px;
}

/*** noticesMessages ***/
#helpOverlay .helpBox.noticesMessages {
  top: 2px;
  right: 50%;
  margin-right: -322px;
  width: 80px;
  height: 47px;
}
#helpOverlay .helpBox.noticesMessages .info {
  top: 28px;
  left: 88px;
  width: 230px;
  padding: 50px 0 0 37px;
}
#helpOverlay .helpBox.noticesMessages .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 39px;
  background-position: -200px -500px;
}

/*** userWithTeam ***/
/*** wall ***/
#helpOverlay.userWithTeam .helpBox.wall {
  top: 136px;
}
#helpOverlay.userWithTeam .helpBox.wall .info {
  top: 130px;
  left: -170px;
}

/*** help ***/
#helpOverlay .helpBox.helpButton {
  margin-right: -142px;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #helpOverlay .helpBox.wall {
    width: 554px;
    margin-left: -276px;
  }
  #helpOverlay .helpBox.wall .info {
    left: -190px;
  }

  #helpOverlay .helpBox.search {
    margin-left: -400px;
  }
  #helpOverlay .helpBox.search .info {
    left: -55px;
    padding: 85px 0 0 0;
  }
  #helpOverlay .helpBox.search .arrow {
    left: 3px;
    right: auto;
  }

  #helpOverlay .helpBox.noticesMessages {
    margin-right: -254px;
  }
  #helpOverlay .helpBox.noticesMessages .info {
    left: 85px;
    padding: 50px 0 0 26px;
  }

  /*** userWithTeam ***/
  #helpOverlay.userWithTeam .helpBox.wall .info {
    top: 150px;
    left: -180px;
  }
}
@media (max-width: 991px) {
  #helpOverlay .helpBox.wall {
    margin-left: -162px;
    width: 544px;
  }

  #helpOverlay .helpBox.search {
    margin-left: -314px;
    width: 75px;
  }

  #helpOverlay .helpBox.noticesMessages {
    margin-right: -167px;
  }
  #helpOverlay .helpBox.noticesMessages .info {
    left: 0;
    padding: 50px 0 0 0;
  }
  #helpOverlay .helpBox.noticesMessages .arrow {
    left: 90px;
  }

  /*** userWithTeam ***/
  #helpOverlay.userWithTeam .helpBox.wall .info {
    left: -200px;
  }
}
@media (max-width: 767px) {
  /*** close ***/
  #helpOverlay .close {
    top: 2px;
    right: 0;
    margin-right: 0;
  }

  #helpOverlay .helpBox.wall {
    margin-left: 0;
    width: 100%;
    left: 0;
    top: 95px;
  }
  #helpOverlay .helpBox.wall .info {
    top: 150px;
    left: 50px;
  }
  #helpOverlay .helpBox.wall .border.leftTop {
    display: none;
  }

  #helpOverlay .helpBox.search {
    margin-left: 52px;
    left: 5px;
    width: 68px;
  }

  #helpOverlay .helpBox.noticesMessages {
    margin-right: 0;
    margin-left: 170px;
    width: 100px;
    left: 0;
    right: auto;
  }
  #helpOverlay .helpBox.noticesMessages .arrow {
    left: 120px;
  }

  /*** userWithTeam ***/
  #helpOverlay.userWithTeam .helpBox.wall .info {
    left: 50px;
  }
}
@media (max-width: 479px) {
  #helpOverlay,
  #helpOverlay .close,
  #helpOverlay .helpBox.wall,
  #helpOverlay .helpBox.helpButton,
  #helpOverlay .helpBox.search,
  #helpOverlay .helpBox.noticesMessages{
    display: none;
  }
}


/********* TEAM PROFILE **********/

/*** teamInfo ***/
#helpOverlay .helpBox.teamInfo {
  top: 72px;
  left: 50%;
  margin-left: -582px;
  width: 235px;
  height: 435px;
}
#helpOverlay .helpBox.teamInfo .info {
  top: 140px;
  left: 214px;
  width: 210px;
  padding: 88px 0 0 20px;
}
#helpOverlay .helpBox.teamInfo .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 77px;
  background-position: -200px -400px;
}

/*** teamMenu ***/
#helpOverlay .helpBox.teamMenu {
  top: 72px;
  left: 50%;
  margin-left: -335px;
  width: 670px;
  height: 62px;
}
#helpOverlay .helpBox.teamMenu .info {
  top: 53px;
  left: 160px;
  width: 400px;
  padding: 22px 0 0 130px;
}
#helpOverlay .helpBox.teamMenu .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 47px;
  background-position: -200px -200px;
}

/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #helpOverlay .helpBox.teamInfo {
    margin-left: -482px;
    width: 215px;
  }
  #helpOverlay .helpBox.teamInfo .info {
    left: 194px;
  }

  #helpOverlay .helpBox.teamMenu {
    margin-left: -265px;
    width: 535px;
  }
}
@media (max-width: 991px) {
  #helpOverlay .helpBox.teamInfo {
    margin-left: -367px;
  }
  #helpOverlay .helpBox.teamMenu .info {
    left: 50px;
  }

  #helpOverlay .helpBox.teamMenu {
    margin-left: -145px;
    width: 515px;
  }
}
@media (max-width: 767px) {
  #helpOverlay {
    display: none;
  }
}

/********* SWITCH TEAM **********/

#helpOverlay .helpBox.switchTeamInfo {
  top: 3px;
  right: 50%;
  margin-right: -581px;
  width: 58px;
  height: 45px;
}
#helpOverlay .helpBox.switchTeamInfo .info {
  top: 20px;
  left: -220px;
  width: 220px;
  padding: 60px 0 0 0;
}
#helpOverlay .helpBox.switchTeamInfo .arrow {
  position: absolute;
  top: 0;
  left: 170px;
  width: 44px;
  height: 78px;
  background-position: -200px -600px;
}


/*** RESPONSIVE ***/
@media (max-width: 1199px) {
  #helpOverlay .helpBox.switchTeamInfo {
    margin-right: -480px;
  }
}
@media (max-width: 991px) {
  #helpOverlay .helpBox.switchTeamInfo {
    margin-right: -374px;
  }
}


/******************************************************************************

  WHAT IS MY TEAMWORLD SCREEN

******************************************************************************/
#what-is-myteamworld #screenshots .item {
  margin: 12px 0 0 0;
}
#what-is-myteamworld #screenshots .item:first-child {
  margin: 0;
}
#what-is-myteamworld #screenshots .item .img {
  border: 1px solid #5e4107;
  display: block;
}


/******************************************************************************

  404 - PAGE NOT FOUND,
  USER NOT FOUND,
  TEAM NOT FOUND

******************************************************************************/
#page-not-found-404 #contentA .bigTitle,
#user-not-found #contentA .bigTitle,
#team-not-found #contentA .bigTitle {
  margin: 0 0 0.35em 0;
  font-size: 200%;
}
#page-not-found-404 #contentA .bigInfo,
#user-not-found #contentA .bigInfo,
#team-not-found #contentA .bigInfo {
  margin: 0 0 40px 0;
  font-weight: bold;
  font-size: 125%;
}
#page-not-found-404 #contentA .title,
#user-not-found #contentA .title,
#team-not-found #contentA .title {
  margin: 0 0 12px 0;
}

#page-not-found-404 #contentA ul li,
#user-not-found #contentA ul li,
#team-not-found #contentA ul li {
  margin: 0 0 7px 0;
  padding-left: 15px;
}
#page-not-found-404 #contentA ul li a,
#user-not-found #contentA ul li a,
#team-not-found #contentA ul li a {
  text-decoration: underline;
  color: #212121;
}
#page-not-found-404 #contentA ul li a:hover,
#user-not-found #contentA ul li a:hover,
#team-not-found #contentA ul li a:hover {
  text-decoration: none;
}


/******************************************************************************

  FORGOTTEN PASSWORD

******************************************************************************/
#forgotten-password .contentAbox input.text {
  margin: 8px 10px 10px 0;
  padding: 4px 5px;
}


/******************************************************************************

  DROPZONE

******************************************************************************/
#uploadPhotos {
  margin: 0;
  padding: 0;
}
.dz-default {
  margin: 20px auto;
  width: 492px;
  height: 84px;
  line-height: 84px;
  border: 4px dashed #d1c4a8;
  text-align: center;
  color: #b49f76;
  cursor: pointer;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: #ffffff;
  border: 1px solid #acacac;
  display: inline-block;
  margin: 0 8px 16px 8px;
  padding: 6px;
  position: relative;
  vertical-align: top;
}
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  background: #ebebeb;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  position: relative;
}
.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  height: 100%;
  overflow: hidden;
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  height: 26px;
  line-height: 26px;
  left: 4px;
  right: 30px;
  bottom: -26px;
}
.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  background: #aaaaaa;
  display: none;
  height: 4px;
  left: 6px;
  position: absolute;
  right: 6px;
  top: 102px;
}
.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
  display: none;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  background: #76bf04;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  bottom: 0;
}

/*
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background: red;
  color: #ee162d;
}
*/
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark/*,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark*/ {
  display: none;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background: url('../images/icon-a.png') no-repeat 2px -2148px;
  position: absolute;
  bottom: 6px;
  right: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 30px;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background-position: 1px -749px;
}

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-error-mark {
  display: none;
}
.dropzone .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}

/* error msg */
.dropzone .dz-preview .dz-error-message {
  position: absolute;
  top: 20px;
  left: 15px;
  right: 15px;
  max-height: 64px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8);
  padding: 4px 2px;
  color: #392600;
  font-size: 92%;
  text-align: center;
  overflow: hidden;
  display: none;
}
.dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}